.footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: #706f6f;
    
    color: white;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 20vw;
        
        &-logo {
           max-width: 150px; 
        }

        &-nav {
            display: flex;
            flex-direction: row;
            column-gap: 2vw;

            &-section{
                display: flex;
                flex-direction: column;
                row-gap: 12px;

                &-list{
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                }

                &-socialmedia{
                    display: flex;
                    flex-direction: row;
                    column-gap: 8px;
                }
            }

        }
    }

    &-copyright{
        display: flex;
        justify-content: center;
        border-top: 2px white solid;
        padding: 16px 0;
    }

}