.navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    background-color: $color-primary !important;
    margin: 0 !important;
    padding: 0 !important;

    &-logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        img {
            height: 64px !important;
        }
    }

    &-items {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        column-gap: 24px;
        color: $color-secundary !important;
        margin: 0 !important;
        padding: 0 !important;

        a {
            text-decoration: none;
            color: inherit ;
        }
        
        li{
            text-decoration: none;
        }

        &-item-searcher {
            border: 2px solid black !important;
            border-radius: 2px !important;
            padding: 8px !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
        }

        &-items:hover {
            border-bottom: 4px solid grey !important;
            z-index: 1 !important;
        }


    }




}