.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color-primary;

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 64px;
        }
    }

    &-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 24px;
        color: $color-secundary;

        &-item-searcher {
            border: 2px solid black;
            border-radius: 2px;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-items:hover {
            border-bottom: 4px solid grey;
            z-index: 1;
        }


    }




}