.navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    background-color: $color-primary !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    font-weight: 400 !important;

    &-logo {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        img {
            height: 64px !important;
        }
    }

    &-items {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        column-gap: 24px;
        color: $color-secundary !important;
        margin: 0 !important;
        padding: 0 !important;


        a {
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            padding: 0 8px !important;
            position: relative !important;
            /* Posicionamiento relativo para el elemento a */
            text-decoration: none !important;
            color: inherit !important;
            transition: color 0.3s ease !important;
            /* Transición suave para el color del texto */

            &::after {
                content: '' !important;
                /* Pseudo-elemento para la línea */
                position: absolute !important;
                bottom: 0 !important;
                left: 0 !important;
                width: 100% !important;
                border-bottom: 8px solid transparent !important;
                /* Línea invisible por defecto */
                transition: border-bottom 0.3s ease !important;
                /* Transición suave para el borde inferior */
            }

            &:hover {
                &::after {
                    border-bottom: 8px solid $color-three !important;
                    /* Mostrar la línea al hacer hover */
                }
            }

            &:active {
                transition: none !important;
                background-color: $color-three !important;
                color: white !important;
            }
        }


        li {
            text-decoration: none !important;
        }

        &-item-searcher {
            display: flex;
            justify-content: center !important;
            align-items: center !important;

            &-input {
                padding: 8px !important;
                border: 2px solid $color-two !important;
                border-radius: 4px !important;
            }
        }

    }

}