* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit ;
}

li{
    text-decoration: none;
}

html {
    height: 100%;
}

p {
    font-size: 14px;
    font-weight: 300;
}

// body{
//     min-width: 100vh;
//     display: flex;
//     flex-direction: column;
// }

