@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
}

html {
  height: 100%;
}

p {
  font-size: 12px;
  font-weight: 300;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #585858;
  color: #fefeff;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #888988;
  color: #fefeff;
}

.featured-product-cards-card-img img {
  width: 80%;
  height: 40vh;
  object-fit: cover;
}
.featured-product-cards-card-text {
  display: flex;
  flex-direction: column;
  background-color: #d7d7db;
  padding: 24px;
  row-gap: 8px;
  border-radius: 4px;
}

.partnership-locations-regions {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.partnership-locations-regions-cityTitle {
  background-color: #D9D9D9;
  padding: 8px;
}
.partnership-locations-regions-companys {
  display: flex;
  flex-direction: column;
  background-color: #fefeff;
  row-gap: 16px;
}
.partnership-locations-regions-companys-company {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 8px;
}

.consultation-menu-form .form {
  background-color: #706F6F;
}
.consultation-menu-form .form-inputs {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  row-gap: 16px;
}
.consultation-menu-form .form-inputs-input, .consultation-menu-form .form-inputs-box textarea {
  background-color: transparent;
  color: #fefeff;
  padding-bottom: 8px;
}
.consultation-menu-form .form-inputs-input::placeholder, .consultation-menu-form .form-inputs-box textarea::placeholder {
  color: #B3B2B2;
}
.consultation-menu-form .form-inputs-input {
  border-bottom: 2px solid #B3B2B2;
  padding: 8px;
}
.consultation-menu-form .form-inputs-box {
  border: 2px solid #B3B2B2;
  padding: 8px;
}
.consultation-menu-form .form-inputs-box textarea {
  height: 20vh;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  padding: 24px;
  row-gap: 32px;
  width: 20%;
  height: 20%;
}
.login-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.login-form-inputs-input {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}
.login-form-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.table-tbody-tr {
  max-height: 56px;
}
.table-tbody-tr-td {
  text-align: center;
  vertical-align: middle;
}
.table-tbody-tr-td-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}
.table-tbody-tr-td-p {
  max-height: 56px;
  overflow-y: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #706f6f;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 20vw;
}
.footer-container-logo {
  max-width: 150px;
}
.footer-container-nav {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
}
.footer-container-nav-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer-container-nav-section-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer-container-nav-section-socialmedia {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  border-top: 2px white solid;
  padding: 16px 0;
}

.navbar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  background-color: #fefeff !important;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-logo {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.navbar-logo img {
  height: 64px !important;
}
.navbar-items {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  column-gap: 24px;
  color: #424342 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-items a {
  text-decoration: none;
  color: inherit;
}
.navbar-items li {
  text-decoration: none;
}
.navbar-items-item-searcher {
  border: 2px solid black !important;
  border-radius: 2px !important;
  padding: 8px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.navbar-items-items:hover {
  border-bottom: 4px solid grey !important;
  z-index: 1 !important;
}

.intro {
  height: 80vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/Component%202.png?alt=media&token=ead86fa9-1db2-4a8c-b8b5-f7e38531f530");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fefeff;
}
.intro-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: auto;
}
.intro-container-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 128px 20vw;
  opacity: 0;
  transition: opacity 2.5s ease;
}
.intro-container-text-title {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.intro-container-text-title-sub {
  font-size: 16px;
  font-weight: 300;
}
.intro-container-text-title-main {
  font-size: 50px;
  font-weight: bold;
}
.intro-container-text-buttons {
  display: flex;
  justify-content: flex-start;
  column-gap: 24px;
}

.featured-products {
  background-color: rgb(237, 237, 237);
  padding: 64px 20vw;
}
.featured-products-title {
  padding: 24px 0;
}
.featured-products-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.featured-products-container-cards-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.featured-products-container-cards-card-img {
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}
.featured-products-container-cards-card-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: #DBDBDB;
  flex-grow: 1;
}

.customized-products {
  background-color: #464646;
  color: #ffffff;
  padding: 64px 0;
}
.customized-products-title {
  padding: 0 20vw 64px 20vw;
}
.customized-products-videocontainer {
  display: flex;
}
.customized-products-videocontainer-video {
  width: 100%;
}
.customized-products > div:nth-child(2) img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.customized-products-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20vw;
}
.customized-products-logos-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.partnership {
  background-color: #D1D1D1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partnership-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 48px 48px 20vw;
  width: 50%;
  row-gap: 24px;
}
.partnership-photo {
  width: 60%;
  /* Ocupa el 50% del ancho del contenedor padre */
}
.partnership-photo img {
  width: 100%;
  height: 100%;
  /* Mantiene la proporción original de la imagen */
  object-fit: cover;
}

.loaded {
  opacity: 1;
}

.distributor-list {
  background-color: #EDEDED;
}
.distributor-list-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.distributor-list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
  padding: 30px 20vh;
}
.distributor-list-body-title {
  text-align: start;
}
.distributor-list-body-finder {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  height: 600px;
}
.distributor-list-body-finder-maps {
  flex: 1;
  max-width: 60%;
}
.distributor-list-body-finder-maps iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.distributor-list-body-finder-partnership-locations {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.consultation {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  margin-top: 64px;
  column-gap: 24px;
}
.consultation-menu-title {
  padding-bottom: 40px;
}
.consultation-menu-matters {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.consultation-menu-matters-matter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 30%;
  background-color: #D9D9D9;
  padding: 16px 16px;
}
.consultation-menu-form-subtitle {
  padding: 40px 0px;
}
.consultation-menu-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0px;
}
.consultation-menu-contacts-buttons {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  border: 2px solid #B3B2B2;
  flex: 0 40%;
}
.consultation-menu-contacts-buttons .button-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.consultation-menu-contacts-buttons .button-link button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}

.customization-sections-intro {
  background-color: #ededed;
  padding: 5vw 20vw;
}
.customization-sections-intro-title {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding-bottom: 16px;
}
.customization-sections-intro-title-h1 {
  font-size: 36px;
  font-weight: 600;
  width: 70%;
  max-width: 400px;
}
.customization-sections-intro-title-text {
  display: flex;
  align-items: end;
  font-size: 16px;
  font-weight: 300;
  width: 30%;
}
.customization-sections-articles {
  display: flex;
  flex-direction: column;
  background-color: #464646;
  padding: 5vw 20vw;
  color: white;
  row-gap: 48px;
}
.customization-sections-articles-sizes-title {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 16px;
}
.customization-sections-articles-sizes-info {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.customization-sections-articles-sizes-info-img {
  width: 70%;
}
.customization-sections-articles-sizes-info-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-sizes-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-sizes-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-sizes-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-selected {
  display: flex;
  flex-direction: row;
}
.customization-sections-articles-selected-info {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.customization-sections-articles-selected-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-selected-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-selected-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-selected-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-selected-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-finished {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.customization-sections-articles-finished-title {
  display: flex;
  justify-content: center;
}
.customization-sections-articles-finished-title h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-finished-colors-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.customization-sections-articles-finished li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.customization-sections-articles-unique {
  display: flex;
  flex-direction: column;
}
.customization-sections-articles-unique-info {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.customization-sections-articles-unique-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-unique-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-unique-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-unique-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-unique-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-specials {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.customization-sections-articles-specials-titles {
  display: flex;
  justify-content: center;
}
.customization-sections-articles-specials-titles h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-specials-colors-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customization-sections-articles-specials li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}
.customization-sections-articles-endings {
  display: flex;
  flex-direction: row;
}
.customization-sections-articles-endings-info {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.customization-sections-articles-endings-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-endings-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-endings-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-endings-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-endings-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.interfaceProducts {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interfaceProducts-box {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: black;
  padding: 100px;
}
.interfaceProducts-box-tittle {
  display: flex;
  justify-content: center;
  color: white;
}
.interfaceProducts-box-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.interfaceProducts-box-unloggin {
  display: flex;
  justify-content: flex-end;
}

.control {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  color: white;
  background-color: black;
  padding: 0 10vw;
}
.control-tablebox {
  width: 100%;
  overflow-x: auto;
  /* Agregar desplazamiento horizontal */
}
.control-panelbox {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #212529;
  padding: 24px;
  border-radius: 8px;
}
.control-panelbox-title {
  display: flex;
}
.control-panelbox-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.control-panelbox-form-inputs-input {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}
.control-panelbox-buttons {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.collection-img {
  height: auto;
  display: flex;
}
.collection-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.collection-container-route {
  padding-top: 32px;
}
.collection-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.collection-container-route-link-icon {
  font-size: 16px !important;
}
.collection-container-route-link-text {
  font-size: 12px;
}
.collection-container-title {
  padding: 32px 0;
}
.collection-container-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 24px 0px;
  gap: 24px;
}
.collection-container-cards-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.collection-container-cards-card-img {
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}
.collection-container-cards-card-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: #F6F6F6;
  flex-grow: 1;
}

.collections-img {
  height: auto;
  display: flex;
}
.collections-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections-body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.collections-body-title {
  padding-top: 32px;
}
.collections-body-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 24px 0px;
  gap: 24px;
}
.collections-body-container-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.collections-body-container-card-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: #F6F6F6;
}
.collections-body-container-card-img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}

.banner-img {
  height: auto;
  display: flex;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.product-container-route {
  padding-top: 32px;
}
.product-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.product-container-route-link-icon {
  font-size: 16px !important;
}
.product-container-route-link-text {
  font-size: 12px;
}
.product-container-title {
  padding: 32px 0;
}
.product-container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px 0px;
  gap: 24px;
}
.product-container-cards-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.product-container-cards-card-img {
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}
.product-container-cards-card-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: #F6F6F6;
  flex-grow: 1;
}

.banner-img {
  height: auto;
  display: flex;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.product-container-route {
  padding-top: 32px;
}
.product-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.product-container-route-link-icon {
  font-size: 16px !important;
}
.product-container-route-link-text {
  font-size: 12px;
}
.product-container-title {
  padding: 32px 0;
}
.product-container-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  border-radius: 2%;
}
.product-container-card-sectionImage {
  width: 50%;
}
.product-container-card-sectionImage-img {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.product-container-card-sectionText {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #D9D9D9;
  padding: 3vw;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.product-container-card-sectionText-header {
  max-width: 20px;
  padding-bottom: 12px;
}
.product-container-card-sectionText-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #BDBCB8 solid;
  padding: 12px 0;
}
.product-container-card-sectionText-id-text {
  display: flex;
  flex-direction: column;
}
.product-container-card-sectionText-id-image {
  max-width: 150px;
}
.product-container-card-sectionText-description {
  border-top: 1px #BDBCB8 solid;
  padding: 12px 0;
}
.product-container-card-sectionText-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  padding-top: 12px;
}
.product-container-card-sectionText .button-primary {
  width: 100%;
}
.product-container-card-sectionText .button-secondary {
  width: 100%;
}

.relationed-product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  padding-bottom: 32px;
  background-color: rgb(237, 237, 237);
}
.relationed-product-container-title {
  padding: 32px 0;
}
.relationed-product-container-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 24px 0px;
  gap: 24px;
  max-width: 100%;
}
.relationed-product-container-cards-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.relationed-product-container-cards-card-img {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
  min-height: 80%;
}
.relationed-product-container-cards-card-title {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #F6F6F6;
  flex-grow: 1;
  min-height: 40px;
}

/*# sourceMappingURL=style.css.map */
