@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
}

html {
  height: 100%;
}

p {
  font-size: 14px;
  font-weight: 300;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #706F6F;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
}

.button-primary:hover {
  background-color: #464646;
  cursor: pointer;
}

.button-primary:active {
  background-color: #1D1D1B;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid white;
  background: none;
  background-color: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-secondary:hover {
  background-color: #A7A9AC;
  cursor: pointer;
}

.button-secondary:active {
  background-color: #d1d3d4;
  color: black;
}

.consultation-menu-contact-buttons-btn {
  border: 1px solid #BDBCB8;
  padding: 8px;
  width: 50%;
  font-size: 18px;
  transition: all 0.5s ease;
}
.consultation-menu-contact-buttons-btn-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.consultation-menu-contact-buttons-btn-link i {
  font-size: 32px;
  text-align: center;
}
@media (max-width: 480px) {
  .consultation-menu-contact-buttons-btn-link p {
    display: none;
  }
}

.consultation-menu-contact-buttons-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
  text-decoration: none !important;
}

.botones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.sales-button {
  color: white;
  background-color: #464646;
  padding: 12px 24px;
}

.sales-button:hover {
  background-color: #706F6F;
  cursor: pointer;
}

.sales-button:active {
  background-color: #1D1D1B;
  color: white;
}

.partnership-locations-regions {
  display: flex;
  flex-direction: column;
}
.partnership-locations-regions-cityTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  padding: 8px;
}
.partnership-locations-regions-companys {
  display: flex;
  flex-direction: column;
  background-color: #fefeff;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}
.partnership-locations-regions-companys-company {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  display: none;
}
.partnership-locations-regions-companys-company-field {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  flex-wrap: wrap;
}
.partnership-locations-regions.show .partnership-locations-regions-companys {
  height: 100%;
  opacity: 1;
}
.partnership-locations-regions.show .partnership-locations-regions-companys-company {
  display: flex;
}
.partnership-locations-regions .rotated-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.partnership-locations-regions .link-distribuidor {
  color: #706F6F;
  text-decoration: underline;
  font-size: 14px;
}

.consultation-menu-contact {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.consultation-menu-contact-subtitle {
  padding-top: 32px;
}
.consultation-menu-contact-form {
  padding: 32px 5vw;
  background-color: #706F6F;
  border-radius: 5px;
  color: white;
}
.consultation-menu-contact-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.consultation-menu-contact-form-inputs-input {
  padding: 8px;
  background-color: #706F6F;
  border-bottom: 1px solid #BDBCB8;
}
.consultation-menu-contact-form-inputs-box {
  margin: 8px 0;
  border: 1px solid #BDBCB8;
  padding: 8px;
  border-radius: 5px;
  background-color: #706F6F;
}
.consultation-menu-contact-form-inputs-btn {
  display: flex;
  justify-content: flex-end;
}
.consultation-menu-contact-form-inputs input::placeholder,
.consultation-menu-contact-form-inputs textarea::placeholder {
  color: white;
}
.consultation-menu-contact-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
@media (max-width: 480px) {
  .consultation-menu-contact-form-inputs-btn {
    justify-content: center;
  }
}

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  color: white;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1D1D1B;
  border-radius: 10px;
  padding: 24px;
  row-gap: 32px;
  width: 20%;
  height: 20%;
}
.login-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.login-form-inputs-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
.login-form-inputs-input input {
  padding: 8px;
  border-radius: 4px;
}
.login-form-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.table-tbody-tr {
  max-height: 56px;
}
.table-tbody-tr-td {
  text-align: center;
  vertical-align: middle;
}
.table-tbody-tr-td-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
}
.table-tbody-tr-td-p {
  max-height: 56px;
  overflow-y: auto;
}

.title-head {
  text-align: center;
  vertical-align: middle;
  min-width: 140px;
}

.important:hover {
  cursor: pointer;
}

gmpx-store-locator {
  width: 100%;
  height: 100%;
  /* These parameters customize the appearance of Locator Plus. See the documentation at
     https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md
     for more information. */
  --gmpx-color-surface: #fff;
  --gmpx-color-on-surface: #212121;
  --gmpx-color-on-surface-variant: #757575;
  --gmpx-color-primary: #1967d2;
  --gmpx-color-outline: #e0e0e0;
  --gmpx-fixed-panel-width-row-layout: 28.5em;
  --gmpx-fixed-panel-height-column-layout: 65%;
  --gmpx-font-family-base: "Roboto", sans-serif;
  --gmpx-font-family-headings: "Roboto", sans-serif;
  --gmpx-font-size-base: 0.875rem;
  --gmpx-hours-color-open: #188038;
  --gmpx-hours-color-closed: #d50000;
  --gmpx-rating-color: #ffb300;
  --gmpx-rating-color-empty: #e0e0e0;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #706f6f;
  color: white;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 72px 20vw 32px 20vw;
}
.footer-container-logo {
  max-width: 150px;
}
.footer-container-nav {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
}
.footer-container-nav-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer-container-nav-section-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0;
  padding: 0;
}
.footer-container-nav-section-list li a {
  color: white;
  text-decoration: none;
}
.footer-container-nav-section-socialmedia {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.footer-container-nav-section-socialmedia a i {
  color: white;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 16px;
  border-top: 2px white solid;
  padding: 16px 0;
}
.footer-copyright p {
  margin: 0;
}
@media (min-width: 811px) and (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
    row-gap: 32px;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  .footer-container {
    padding: 32px 5vw;
    flex-direction: column;
  }
  .footer-container-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .footer-container-nav-logo {
    display: flex;
    padding-bottom: 32px;
  }
  .footer-container-nav-section ul {
    padding: 0;
  }
  .footer-container-nav-section i {
    color: white;
  }
  .footer-copyright {
    padding: 16px;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .footer-container {
    padding: 32px 5vw;
    flex-direction: column;
  }
  .footer-container-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .footer-container-nav-logo {
    display: flex;
    padding-bottom: 32px;
  }
  .footer-container-nav-section ul {
    padding: 0;
  }
  .footer-container-nav-section i {
    color: white;
  }
  .footer-copyright {
    padding: 16px;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
  }
}

.logo-linktree {
  height: 16px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  width: 100%;
  background-color: #fefeff;
  margin: 0;
  padding: 0 !important;
  font-size: 16px;
  font-weight: 400;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d3d4;
}
.navbar-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  padding: 8px;
}
.navbar-logo-mobile-open {
  display: none;
}
.navbar-logo-mobile-close {
  display: none;
}
.navbar-items {
  display: flex;
  height: 64px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  color: #424342;
  margin: 0;
  padding: 0;
}
.navbar-items a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
.navbar-items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 8px solid transparent;
  transition: border-bottom 0.3s ease;
}
.navbar-items a:hover::after {
  border-bottom: 8px solid #A7A9AC;
}
.navbar-items a:active {
  transition: none;
  background-color: #A7A9AC;
  color: white;
}
.navbar-items li {
  text-decoration: none;
}
.navbar-items-item-searcher {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  max-width: 100%;
  position: relative;
}
.navbar-items-item-searcher-input {
  padding: 8px;
  border: 2px solid #d1d3d4;
  border-radius: 4px;
}
.navbar-items-item-searcher-list {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  position: absolute;
  overflow-y: auto;
  top: 76%;
  left: 0;
}
.navbar-items-item-searcher-list-a {
  display: flex;
  width: 184px;
  background-color: #ededed;
  margin: 0;
  padding: 8px;
  border-top: 2px solid #d1d3d4;
}
.navbar-items-item-searcher-list-a-item {
  width: 100%;
  padding: 8px 0;
}
.navbar-items-item-searcher-list-itemcargando {
  display: flex;
  width: 184px;
  background-color: #ededed;
  border-top: 2px solid #d1d3d4;
  padding: 8px;
}
@media (min-width: 811px) and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-items {
    column-gap: 1vw;
    justify-content: center;
  }
  .navbar-items-item-searcher {
    width: 160px;
    max-width: auto;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
  }
  .navbar-logo-mobile-open {
    display: block;
  }
  .navbar-items {
    display: none;
    height: 0;
    transition: all 2s ease;
  }
  .navbar-items-item-searcher {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
  }
  .navbar-logo-mobile-open {
    display: block;
  }
  .navbar-items {
    display: none;
    height: 0;
    transition: all 2s ease;
  }
  .navbar-items-item-searcher {
    display: none;
  }
}

.activado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  row-gap: 2vh;
  border-top: 2px solid #ededed;
  height: auto;
  width: 100%;
  animation: slideDown 0.2s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.pointsales {
  display: flex;
  flex-direction: row;
  padding-left: 20vw;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.pointsales-text {
  width: 35%;
}
.pointsales-text-title {
  padding-top: 40px;
}
.pointsales-text-title h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.pointsales-text-description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 0;
  width: 75%;
}
.pointsales-text-description-button {
  display: flex;
  flex-wrap: row;
  justify-content: flex-start;
  text-decoration: none;
}
.pointsales-text-description p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5;
}
.pointsales-img img {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  justify-self: flex-end;
}
@media (min-width: 481px) and (max-width: 810px) {
  .pointsales {
    flex-direction: column;
  }
  .pointsales-text {
    width: auto;
  }
  .pointsales-text-description-button {
    justify-content: center;
  }
  .pointsales-img {
    width: auto;
  }
}
@media (max-width: 480px) {
  .pointsales {
    flex-direction: column;
  }
  .pointsales-text {
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .pointsales-text-description-button {
    justify-content: center;
  }
  .pointsales-img {
    width: auto;
  }
}

.intro {
  height: 80vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Banner%20principal%2Fbanner-principal1.jpg?alt=media&token=30deea05-90c9-4271-b173-9cf5251e4d60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fefeff;
}
.intro-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: auto;
}
.intro-container-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 16.11vw 20vw;
  opacity: 0;
  transition: opacity 2.5s ease;
}
.intro-container-text-title {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.intro-container-text-title-sub {
  font-size: 16px;
  font-weight: 300;
}
.intro-container-text-title-main {
  font-size: 50px;
  font-weight: bold;
}
.intro-container-text-buttons {
  display: flex;
  justify-content: flex-start;
  column-gap: 24px;
}
@media (max-width: 480px) {
  .intro {
    height: 100vh;
  }
  .intro-container-text {
    padding: 16.11vw 5vw;
  }
}

.featured-products {
  background-color: rgb(237, 237, 237);
  padding: 64px 20vw;
}
.featured-products-title {
  padding: 24px 0;
}
.featured-products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 56px;
}
.featured-products-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
}
@media (max-width: 1200px) {
  .featured-products-container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 740px) {
  .featured-products-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.featured-products-container-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
}
.featured-products-container-cards-card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 256px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.featured-products-container-cards-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.featured-products-container-cards-card-text p:nth-child(1) {
  font-weight: bold;
}
.featured-products-container-cards-card-text p:nth-child(2) {
  font-weight: 300;
}
@media (max-width: 480px) {
  .featured-products-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.customized-products {
  background-color: #464646;
  color: #ffffff;
}
.customized-products-title {
  padding-bottom: 64px;
  padding: 64px 20vw;
}
.customized-products-video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}
.customized-products-video iframe {
  width: 94%;
  height: 44vw;
}
.customized-products > div:nth-child(2) img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.customized-products-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20vw;
}
.customized-products-logos-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
@media (max-width: 480px) {
  .customized-products-video iframe {
    height: 350px;
  }
}

.partnership {
  background-color: #D1D1D1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partnership-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 48px 48px 20vw;
  width: 50%;
  row-gap: 24px;
}
.partnership-photo {
  width: 60%;
  /* Ocupa el 50% del ancho del contenedor padre */
}
.partnership-photo img {
  width: 100%;
  height: 100%;
  /* Mantiene la proporción original de la imagen */
  object-fit: cover;
}
@media (max-width: 480px) {
  .partnership {
    flex-direction: column;
  }
  .partnership-text {
    width: auto;
    padding: 0;
    padding: 48px 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partnership-text-description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .partnership-text-button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .partnership-photo {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
}

.loaded {
  opacity: 1;
}

.hovered {
  background-color: #d1d3d4;
  text-decoration: underline;
}

.clicked {
  background-color: #A7A9AC;
  text-decoration: underline;
}

.distributor-list {
  background-color: #EDEDED;
}
.distributor-list-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.distributor-list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
  padding: 30px 20vh;
}
.distributor-list-body-title {
  text-align: start;
}
.distributor-list-body-finder {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}
.distributor-list-body-finder-maps {
  flex: 1;
  max-width: 60%;
  height: 50vh;
}
.distributor-list-body-finder-maps iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.distributor-list-body-finder-partnership-locations {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (min-width: 811px) and (max-width: 1200px) {
  .distributor-list-body {
    padding-bottom: 64px;
  }
  .distributor-list-body-finder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 32px;
  }
  .distributor-list-body-finder-maps {
    max-width: 100%;
  }
  .distributor-list-body-finder-partnership-locations {
    max-width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  .distributor-list-body {
    padding: 30px 5vh;
    padding-bottom: 64px;
  }
  .distributor-list-body-finder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 32px;
  }
  .distributor-list-body-finder-maps {
    max-width: 100%;
  }
  .distributor-list-body-finder-partnership-locations {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .distributor-list-body {
    padding: 30px 5vh;
  }
  .distributor-list-body-finder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 32px;
  }
  .distributor-list-body-finder-maps {
    max-width: 100%;
  }
  .distributor-list-body-finder-partnership-locations {
    max-width: 100%;
  }
}

.consultation {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 20vw;
  column-gap: 24px;
  background-color: #ededed;
}
.consultation-menu {
  width: 50%;
  padding: 5vw 0;
}
.consultation-menu-title {
  padding-bottom: 40px;
}
.consultation-menu-matters {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.consultation-menu-matters-matter {
  display: flex;
  flex-direction: column;
  column-gap: 30%;
}
.consultation-menu-matters-matter-title {
  padding-bottom: 32px;
}
.consultation-menu-matters-matter-question {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #D9D9D9;
  padding: 16px;
}
.consultation-menu-matters-matter-answer {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
  max-height: 0;
  opacity: 0;
  background-color: white;
  padding: 16px;
  line-height: 1.5;
}
.consultation-menu-matters-matter-answer-ul {
  padding: 0 16px;
}
.consultation-menu-matters-matter-answer-ul li {
  list-style-type: disc;
}
.consultation-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.consultation-img img {
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: cover;
}
@media (min-width: 811px) and (max-width: 1200px) {
  .consultation {
    padding: 5vw 20vw;
    flex-direction: column;
  }
  .consultation-menu {
    width: 100%;
  }
  .consultation-img {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  .consultation {
    padding: 5vw 20vw;
    flex-direction: column;
  }
  .consultation-menu {
    width: 100%;
  }
  .consultation-img {
    display: none;
  }
}
@media (max-width: 480px) {
  .consultation {
    padding: 5vw 2vw;
  }
  .consultation-menu {
    width: 100%;
  }
  .consultation-img {
    display: none;
  }
}

.black-font {
  font-weight: bold;
}

.mostrar-respuesta {
  max-height: 500px;
  opacity: 1;
}

.carousel-item {
  height: 300px;
}

.customization-sections-intro {
  background-color: #ededed;
  padding: 5vw 20vw;
}
.customization-sections-intro-title {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding-bottom: 16px;
}
.customization-sections-intro-title-h1 {
  font-size: 36px;
  font-weight: 600;
  width: 70%;
  max-width: 400px;
}
.customization-sections-intro-title-text {
  display: flex;
  align-items: flex-end;
  font-weight: 300;
  width: 30%;
}
.customization-sections-intro-title-text p {
  font-size: 14px;
}
.customization-sections-intro-carousel .carousel-item {
  height: auto;
}
.customization-sections img {
  border-radius: 8px;
}
.customization-sections-articles {
  display: flex;
  flex-direction: column;
  background-color: #464646;
  padding: 5vw 20vw;
  color: white;
}
.customization-sections-articles-sizes-title {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 16px;
}
.customization-sections-articles-sizes-info {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding-bottom: 7vw;
}
.customization-sections-articles-sizes-info-img {
  width: 70%;
}
.customization-sections-articles-sizes-info-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-sizes-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-sizes-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-sizes-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-selected {
  display: flex;
  flex-direction: row;
}
.customization-sections-articles-selected-info {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding-bottom: 7vw;
}
.customization-sections-articles-selected-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-selected-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-selected-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-selected-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-selected-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-finished {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 2.5vw;
}
.customization-sections-articles-finished-title {
  display: flex;
  justify-content: center;
}
.customization-sections-articles-finished-title h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-finished-colors-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 5vw;
  margin: 0;
}
.customization-sections-articles-finished-colors-list img {
  width: 70px;
}
@media (max-width: 1120px) {
  .customization-sections-articles-finished-colors-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 720px) {
  .customization-sections-articles-finished-colors-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
.customization-sections-articles-finished li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.customization-sections-articles-unique {
  display: flex;
  flex-direction: column;
}
.customization-sections-articles-unique-info {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding-bottom: 7vw;
}
.customization-sections-articles-unique-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-unique-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customization-sections-articles-unique-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-unique-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-unique-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-specials {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 2.5vw;
}
.customization-sections-articles-specials-titles {
  display: flex;
  justify-content: center;
}
.customization-sections-articles-specials-titles h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-specials-colors-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 16vw;
  margin: 0;
}
.customization-sections-articles-specials-colors-list img {
  width: 70px;
}
.customization-sections-articles-specials li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}
.customization-sections-articles-endings {
  display: flex;
  flex-direction: row;
}
.customization-sections-articles-endings-info {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.customization-sections-articles-endings-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  width: 30%;
}
.customization-sections-articles-endings-info-text h4 {
  font-size: 24px;
  font-weight: 600;
}
.customization-sections-articles-endings-info-text p {
  font-size: 12px;
  font-weight: 300;
}
.customization-sections-articles-endings-info-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 70%;
}
.customization-sections-articles-endings-info-imgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 811px) and (max-width: 1200px) {
  .customization-sections-articles-sizes-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-sizes-info-text {
    width: auto;
  }
  .customization-sections-articles-sizes-info-img {
    width: auto;
  }
  .customization-sections-articles-selected-info {
    flex-direction: column;
  }
  .customization-sections-articles-selected-info-text {
    width: auto;
  }
  .customization-sections-articles-selected-info-imgs {
    width: auto;
  }
  .customization-sections-articles-unique-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-unique-info-text {
    width: auto;
  }
  .customization-sections-articles-unique-info-imgs {
    width: auto;
  }
  .customization-sections-articles-endings-info {
    flex-direction: column;
  }
  .customization-sections-articles-endings-info-text {
    width: auto;
  }
  .customization-sections-articles-endings-info-imgs {
    width: auto;
  }
}
@media (min-width: 481px) and (max-width: 810px) {
  .customization-sections-intro-title {
    flex-direction: column;
  }
  .customization-sections-intro-title-h1 {
    width: auto;
  }
  .customization-sections-intro-title-text {
    width: auto;
  }
  .customization-sections-articles-sizes-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-sizes-info-text {
    width: auto;
  }
  .customization-sections-articles-sizes-info-img {
    width: auto;
  }
  .customization-sections-articles-selected-info {
    flex-direction: column;
  }
  .customization-sections-articles-selected-info-text {
    width: auto;
  }
  .customization-sections-articles-selected-info-imgs {
    width: auto;
  }
  .customization-sections-articles-unique-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-unique-info-text {
    width: auto;
  }
  .customization-sections-articles-unique-info-imgs {
    width: auto;
  }
  .customization-sections-articles-specials-colors-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .customization-sections-articles-specials ul {
    padding-left: 0;
  }
  .customization-sections-articles-endings-info {
    flex-direction: column;
  }
  .customization-sections-articles-endings-info-text {
    width: auto;
  }
  .customization-sections-articles-endings-info-imgs {
    width: auto;
  }
  .customization-sections-articles .last-item {
    grid-column: span 2;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .customization-sections-intro {
    padding: 5vw 0 0 0;
  }
  .customization-sections-intro-title {
    flex-direction: column;
    padding: 0 2vw;
  }
  .customization-sections-intro-title-h1 {
    width: auto;
  }
  .customization-sections-intro-title-text {
    width: auto;
  }
  .customization-sections-articles {
    padding: 48px 2vw;
    row-gap: 32px;
  }
  .customization-sections-articles-sizes-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-sizes-info-text {
    width: auto;
  }
  .customization-sections-articles-sizes-info-img {
    width: auto;
  }
  .customization-sections-articles-selected-info {
    flex-direction: column;
  }
  .customization-sections-articles-selected-info-text {
    width: auto;
  }
  .customization-sections-articles-selected-info-imgs {
    width: auto;
  }
  .customization-sections-articles-finished-colors-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .customization-sections-articles-finished ul {
    padding-left: 0;
  }
  .customization-sections-articles-unique-info {
    flex-direction: column-reverse;
  }
  .customization-sections-articles-unique-info-text {
    width: auto;
  }
  .customization-sections-articles-unique-info-imgs {
    width: auto;
  }
  .customization-sections-articles-specials-colors-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .customization-sections-articles-specials ul {
    padding-left: 0;
  }
  .customization-sections-articles-endings-info {
    flex-direction: column;
  }
  .customization-sections-articles-endings-info-text {
    width: auto;
  }
  .customization-sections-articles-endings-info-imgs {
    width: auto;
  }
  .customization-sections .last-item {
    grid-column: span 2;
    justify-content: center;
  }
}

.interfaceProducts {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interfaceProducts-box {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: black;
  padding: 100px;
}
.interfaceProducts-box-tittle {
  display: flex;
  justify-content: center;
  color: white;
}
.interfaceProducts-box-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.interfaceProducts-box-unloggin {
  display: flex;
  justify-content: flex-end;
}

.control-tablebox-title-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.control {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  color: white;
  background-color: black;
  padding: 0 10vw;
}
.control-tablebox {
  width: 100%;
  overflow-x: auto;
  /* Agregar desplazamiento horizontal */
}
.control-panelbox {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #212529;
  padding: 24px;
  border-radius: 8px;
}
.control-panelbox-title {
  display: flex;
}
.control-panelbox-form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.control-panelbox-form-inputs-input {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}
.control-panelbox-buttons {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.a-admin {
  text-decoration: none;
}

.collection-img {
  height: auto;
  display: flex;
}
.collection-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.collection-container-route {
  padding-top: 32px;
}
.collection-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.collection-container-route-link-icon {
  font-size: 16px !important;
}
.collection-container-route-link-text {
  font-size: 12px;
}
.collection-container-title {
  padding: 32px 0;
}
.collection-container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 24px;
  padding-bottom: 56px;
  gap: 24px;
}
@media (max-width: 1450px) {
  .collection-container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1050px) {
  .collection-container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 746px) {
  .collection-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.collection-container-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
}
.collection-container-cards-card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.collection-container-cards-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.collection-container-cards-card-text p:nth-child(1) {
  font-weight: bold;
}
.collection-container-cards-card-text p:nth-child(2) {
  font-weight: 300;
}

.collections-img {
  height: auto;
  display: flex;
}
.collections-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections-body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 20vw;
  background-color: rgb(237, 237, 237);
}
.collections-body-title {
  margin-top: 64px;
}
.collections-body-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 32px 0 64px 0px;
  column-gap: 24px;
  row-gap: 24px;
}
@media (max-width: 1500px) {
  .collections-body-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1280px) {
  .collections-body-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 864px) {
  .collections-body-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 584px) {
  .collections-body-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.collections-body-container-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  min-width: 165px;
}
.collections-body-container-card-text {
  height: 250px;
}
.collections-body-container-card-text-link {
  display: flex;
}
.collections-body-container-card-text-link-img {
  padding: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.collections-body-container-card-text-link-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: ease 300ms background-color;
}

.hovered {
  background-color: #d1d3d4;
  text-decoration: underline;
}

.clicked {
  background-color: #A7A9AC;
  text-decoration: underline;
}

.banner-img {
  height: auto;
  display: flex;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.product-container-route {
  padding-top: 32px;
}
.product-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.product-container-route-link-icon {
  font-size: 16px !important;
}
.product-container-route-link-text {
  font-size: 12px;
}
.product-container-title {
  padding: 32px 0;
}
.product-container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 24px;
  padding-bottom: 56px;
  gap: 24px;
}
@media (max-width: 1450px) {
  .product-container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1050px) {
  .product-container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 746px) {
  .product-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product-container-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
}
.product-container-cards-card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.product-container-cards-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.product-container-cards-card-text p:nth-child(1) {
  font-weight: bold;
}
.product-container-cards-card-text p:nth-child(2) {
  font-weight: 300;
}

.hovered {
  background-color: #d1d3d4;
  text-decoration: underline;
}

.clicked {
  background-color: #A7A9AC;
  text-decoration: underline;
}

.banner-img {
  height: auto;
  display: flex;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  background-color: rgb(237, 237, 237);
}
.product-container-route {
  padding-top: 32px;
}
.product-container-route-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.product-container-route-link-icon {
  font-size: 16px !important;
}
.product-container-route-link-text {
  font-size: 12px;
}
.product-container-title {
  padding: 32px 0;
}
.product-container-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  border-radius: 2%;
  width: 100%;
}
.product-container-card-sectionImage {
  width: 40%;
}
.product-container-card-sectionImage-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
}
.product-container-card-sectionText {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #D9D9D9;
  padding: 3vw;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.product-container-card-sectionText-header {
  max-width: 20px;
  padding-bottom: 12px;
}
.product-container-card-sectionText-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #BDBCB8 solid;
  padding: 12px 0;
}
.product-container-card-sectionText-id-text {
  display: flex;
  flex-direction: column;
}
.product-container-card-sectionText-id-image {
  max-width: 150px;
}
.product-container-card-sectionText-description {
  border-top: 1px #BDBCB8 solid;
  padding: 12px 0;
}
.product-container-card-sectionText-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  padding-top: 12px;
}
.product-container-card-sectionText-buttons a {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  column-gap: 8px;
  color: #2F2874;
}
.product-container-card-sectionText .button-primary {
  width: 100%;
}
.product-container-card-sectionText .button-secondary {
  width: 100%;
}
@media (min-width: 481px) and (max-width: 810px) {
  .product-container-card {
    flex-direction: column;
  }
  .product-container-card-sectionImage {
    width: auto;
  }
  .product-container-card-sectionText {
    width: auto;
  }
}
@media (max-width: 480px) {
  .product-container-card {
    flex-direction: column;
  }
  .product-container-card-sectionImage {
    width: 100%;
  }
  .product-container-card-sectionText {
    width: auto;
  }
  .product-container-card-sectionText-id {
    flex-direction: column;
    row-gap: 16px;
  }
  .product-container-card-sectionText-buttons {
    flex-direction: column;
    row-gap: 8px;
  }
}

.relationed-product-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20vw;
  padding-bottom: 32px;
  background-color: rgb(237, 237, 237);
}
.relationed-product-container-title {
  padding: 32px 0;
}
.relationed-product-container-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 24px 0px;
  gap: 24px;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .relationed-product-container-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .relationed-product-container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 680px) {
  .relationed-product-container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 440px) {
  .relationed-product-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.relationed-product-container-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
}
.relationed-product-container-cards-card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 256px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.relationed-product-container-cards-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.relationed-product-container-cards-card-text p:nth-child(1) {
  font-weight: bold;
}
.relationed-product-container-cards-card-text p:nth-child(2) {
  font-weight: 300;
}

.hovered {
  background-color: #d1d3d4;
  text-decoration: underline;
}

.clicked {
  background-color: #A7A9AC;
  text-decoration: underline;
}

.colsearched {
  background-color: #ededed;
}
.colsearched-title {
  padding: 64px 20vw 32px 20vw;
}
.colsearched-container {
  padding: 0 20vw;
  min-height: 100vh;
}
.colsearched-container-section {
  display: flex;
  flex-direction: column;
}
.colsearched-container-section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px 0px 56px 0;
  gap: 24px;
}
@media (max-width: 1450px) {
  .colsearched-container-section-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1050px) {
  .colsearched-container-section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 746px) {
  .colsearched-container-section-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.colsearched-container-section-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
}
.colsearched-container-section-cards-card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: solid 2px rgb(237, 237, 237);
}
.colsearched-container-section-cards-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.colsearched-container-section-cards-card-text p:nth-child(1) {
  font-weight: bold;
}
.colsearched-container-section-cards-card-text p:nth-child(2) {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
