.inicio-index-buttons {
    &-standard {
        display: flex;
        width: 189px;
        height: 49px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: #2C2925;
        color: #FFF;
        text-align: center;
        font-family: Oxygen;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 4px;
    }

    &-special {
        display: flex;
        width: 189px;
        height: 49px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #2C2925;
        background-color: transparent;
        color: #2C2925;
        text-align: center;
        font-family: Oxygen;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

//arreglar repetición

.b-standard {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2vh;
    width: 189px;
    height: 49px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #2C2925;
    color: #FFF;
    text-align: center;
    font-family: Oxygen;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
}