{% extends "layout.html" %}
{% block content %}
    <section class="control">

        <div class="control-panelbox">
            <div class="control-panelbox-tittle">
                <h3>Gestor de Productos</h3>
            </div>
            <div class="control-panelbox-form">
                <form action="/colecciones/createCollection" class="control-panelbox-form-inputs" method="POST">

                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionName">Nombre de Coleccion</label>
                        <input type="text" name="CollectionName" id="CollectionName" placeholder="Nombre de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImg">Imagen de Coleccion Bimando</label>
                        <input type="text" name="CollectionImg" id="CollectionImg" placeholder="Imagen de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImg">Imagen de Coleccion Monocomando</label>
                        <input type="text" name="CollectionImg" id="CollectionImg" placeholder="Imagen de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImg">Imagen de Coleccion Freestading</label>
                        <input type="text" name="CollectionImg" id="CollectionImg" placeholder="Imagen de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImg">Imagen de Coleccion Complementos</label>
                        <input type="text" name="CollectionImg" id="CollectionImg" placeholder="Imagen de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImg">Imagen de Coleccion Accesorios</label>
                        <input type="text" name="CollectionImg" id="CollectionImg" placeholder="Imagen de Coleccion">
                    </div>
                              
                    <button type="submit" class="button-primary">Crear</button>

                </form>
            </div>
            <div class="control-panelbox-buttons">
                <a href="{{ url_for('admin.collection') }}"><button class="button-secondary">Volver</button></a>

            </div>
        </div>

    </section>
{% endblock %}