{% extends "layout.html" %}
{% block content %}
    <section class="control">

        <div class="control-panelbox">
            <div class="control-panelbox-tittle">
                <h3>Gestor de Productos</h3>
            </div>
            <div class="control-panelbox-form">
                <form action="/colecciones/createCollection" class="control-panelbox-form-inputs" method="POST">

                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionName">Nombre de Coleccion</label>
                        <input type="text" name="CollectionName" id="CollectionName" placeholder="Nombre de Coleccion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImgBimandos">Imagen de Coleccion Bimando</label>
                        <input type="text" name="CollectionImgBimandos" id="CollectionImgBimandos" placeholder="Img Ref Bimando">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImgMonocomandos">Imagen de Coleccion Monocomando</label>
                        <input type="text" name="CollectionImgMonocomandos" id="CollectionImgMonocomandos" placeholder="Img Ref Monocomando">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImgFreestandings">Imagen de Coleccion Freestading</label>
                        <input type="text" name="CollectionImgFreestandings" id="CollectionImgFreestandings" placeholder="Img Ref Freestading">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImgComplementos">Imagen de Coleccion Complementos</label>
                        <input type="text" name="CollectionImgComplementos" id="CollectionImgComplementos" placeholder="Img Ref Complementos">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionImgAccesorios">Imagen de Coleccion Accesorios</label>
                        <input type="text" name="CollectionImgAccesorios" id="CollectionImgAccesorios" placeholder="Img Ref Accesorios">
                    </div>
                              
                    <button type="submit" class="button-primary">Crear</button>

                </form>
            </div>
            <div class="control-panelbox-buttons">
                <a href="{{ url_for('admin.collection') }}"><button class="button-secondary">Volver</button></a>

            </div>
        </div>

    </section>
{% endblock %}