{% extends "layout.html" %}
{% block content %}
    <section class="control">

        <div class="control-panelbox">
            <div class="control-panelbox-tittle">
                <h3>Gestor de Productos</h3>
            </div>
            <div class="control-panelbox-form">
                <form action="/colecciones/createCollection" class="control-panelbox-form-inputs" method="POST">

                    <div class="control-panelbox-form-inputs-input">
                        <label for="CollectionName">Nombre de Coleccion</label>
                        <input type="text" name="CollectionName" id="CollectionName" placeholder="Nombre de Producto">
                    </div>
                    
                    <button type="submit">Crear</button>

                </form>
            </div>
            <div class="control-panelbox-buttons">
                <a href="./interfaceProducts.html"><button>Volver</button></a>

            </div>
        </div>

    </section>
{% endblock %}