{% extends "layout.html" %}
{% block content %}
    <section class="interfaceProducts">
        <div class="interfaceProducts-box">
            <div class="interfaceProducts-box-tittle">
                <h3>Menú Admin AGREGAR TIPOS A LAS TABLAS DE PRODUCTOS</h3>
            </div>
            <div class="interfaceProducts-box-buttons">
                <a href="{{ url_for('admin.collection') }}"><button class="button-primary">Colecciones</button></a>
                <a href="{{ url_for('admin.faucets') }}"><button class="button-primary">Griferías</button></a>
                <a href="{{ url_for('admin.accesories') }}"><button class="button-primary">Accesorios</button></a>
                <a href="{{ url_for('admin.addons') }}"><button class="button-primary">Complementos</button></a>
                <a href="{{ url_for('admin.distributors') }}"><button class="button-primary">Distribuidores</button></a>
            </div>
            <div class="interfaceProducts-box-unloggin">
                <a href="/"><button class="button-secondary">Cerrar Sesión</button></a>
            </div>
        </div>
    </section>
{% endblock %}