{% extends "layout.html" %}
{% block content %}
    <section class="control">

        <div class="control-panelbox">
            <div class="control-panelbox-tittle">
                <h3>Actualizar Producto</h3>
            </div>
            <div class="control-panelbox-form">

                <form class="control-panelbox-form-inputs" action="#">
                    <div class="control-panelbox-form-inputs-input">
                        <label for="productName">Nombre de Producto</label>
                        <input type="text" name="productName" id="productName" placeholder="Nombre de Producto">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="productCode">Codigo de Producto</label>
                        <input type="text" name="productCode" id="productCode" placeholder="Código de Producto">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="productType">Tipo</label>
                        <select name="productType" id="productType">
                            <option value="Accesorio">Accesorio</option>
                            <option value="Complemento">Complemento</option>
                            <option value="Grifería monocomando">Grifería monocomando</option>
                            <option value="Grifería Bimando">Grifería Bimando</option>
                            <option value="Grifería Freestanding">Grifería Freestanding</option>
                        </select>
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="collection">Coleccion</label>
                        <select name="collection" id="collection">
                        </select>
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="descriptionProduct">Descripción</label>
                        <textarea type="text" name="descriptionProduct" id="descriptionProduct"
                            placeholder="Descripción"></textarea>
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="productImage">Imagen de Producto</label>
                        <input type="text" name="productImage" id="productImage" placeholder="Imagen del Producto">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="productColores">Imagen de Colores</label>
                        <input type="text" name="productColores" id="productColores" placeholder="Colores del Producto">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="collectionManualDetails">Link Manual de Detalles</label>
                        <input type="text" name="collectionManualDetails" id="collectionManualDetails"
                            placeholder="Link Manual de detalles">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="collectionManualInstalation">Link Manual de Instalacion</label>
                        <input type="text" name="collectionManualInstalation" id="collectionManualInstalation"
                            placeholder="Link Manual de Instalacion">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="isFeaturedProducto">¿Es Destacado?</label>
                        <input type="checkbox" name="isFeaturedProducto" id="isFeaturedProducto">
                    </div>
                    <div class="control-panelbox-form-inputs-input">
                        <label for="isAvailable">¿Está disponible?</label>
                        <input type="checkbox" name="isAvailable" id="isAvailable">
                    </div>
                    <button type="submit" id="updateProduct" >Actualizar Producto</button>
                </form>
            </div>
            <div class="control-panelbox-buttons">
                <a href="{{ url_for('admin.interfaceProducts') }}"><button>Volver</button></a>
            </div>
        </div>

    </section>

    <script src="/static/js/modificar.js"></script>
    <script type="module" src="/static/js/utils/pasarIDForm.js"></script>

{% endblock %}
