.intro {
    height: 80vh;
    background-image: url(../../img/26042021105833.png);
    background-size: cover;
    color: $color-primary;

    &-container {

        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding-top: 128px;
        padding-left: 128px;
        width: 400px;

        &-logo {}

        &-text {

            display: flex;
            flex-direction: column;
            row-gap: 24px;

            &-title {}

            &-buttons {
                display: flex;
                justify-content: flex-start;
                column-gap: 24px;
            }

        }
    }
}