.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secundary-button;
    color: $color-primary-button;
    min-width: 164px;
    min-height: 25px;
}

.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary-button;
    color: $color-primary-button;
    min-width: 164px;
    min-height: 25px;
}


