.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: $color-secundary-button;
    color: $color-primary-button;
    // min-width: 164px;
    // min-height: 25px;
}

.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: $color-tertiary-button;
    color: $color-primary-button;
    // min-width: 164px;
    // min-height: 25px;
}

.consultation-menu-contact-buttons-btn {

    border: 1px solid #BDBCB8;
    padding: 8px;
    width: 50%;
    font-size: 18px;
    transition: all 0.5s ease;

    &-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i{
            font-size: 32px;
            text-align: center;
        }

    }
}

.consultation-menu-contact-buttons-btn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}