.consultation-menu-contact {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    &-subtitle {}

    &-form {
        padding: 32px 5vw;
        background-color: #706F6F;
        border-radius: 5px;
        color: white;

        &-inputs {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            &-input {
                padding: 8px;
                background-color: #706F6F;
                border-bottom: 1px solid #BDBCB8;
            }

            &-box{
                margin: 8px 0;
                border: 1px solid #BDBCB8;
                padding: 8px;
                border-radius: 5px;
                background-color: #706F6F;
            }

            &-btn{
                display: flex;
                justify-content: flex-end;
            }

            input::placeholder,
            textarea::placeholder {
                color: white;
            }

        }
    }

    &-buttons{
        display: flex;
        flex-direction: row;
        column-gap: 16px;
    }

    @include mobile-small{
        &-form{
            &-inputs{
                &-btn{
                    justify-content: center;
                }
            }
        }
    }
}

.login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-one;
    color: white;

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-six;
        border-radius: 10px;
        padding: 24px;
        row-gap: 32px;
        width: 20%;
        height: 20%;

        &-inputs {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            &-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 16px;

                input{
                    padding: 8px;
                    border-radius: 4px;
                }
            }

        }

        &-buttons {
            display: flex;
            flex-direction: row;
            column-gap: 8px;
        }
    }

}