.consultation {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 20vw;
    column-gap: 24px;
    background-color: #ededed;

    &-menu {
        width: 50%;
        padding: 5vw 0;

        &-title {
            padding-bottom: 40px;
        }

        &-matters {

            display: flex;
            flex-direction: column;
            row-gap: 16px;

            &-matter {
                display: flex;
                flex-direction: column;
                column-gap: 30%;

                &-question {
                    display: flex;
                    box-sizing: border-box;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    background-color: $color-undenary;
                    padding: 16px;
                }

                &-answer {
                    width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;
                    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
                    max-height: 0;
                    opacity: 0;
                    background-color: white;
                    padding: 16px;
                }
            }
        }
    }

    &-img {
        width: 50%;
        height: 100%;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
            max-width: none;
            object-fit: cover;
        }
    }

    @include tablet {
        padding: 5vw 20vw;
        flex-direction: column;

        &-menu {
            width: 100%;

        }

        &-img {
            display: none;
        }

    }

    @include mobile-large{
        padding: 5vw 20vw;
        flex-direction: column;

        &-menu {
            width: 100%;

        }

        &-img {
            display: none;
        }
    }

    @include mobile-small {
        padding: 5vw 2vw;
        &-menu {
            width: 100%;

        }
        &-img {
            display: none;
        }
    }
}

.mostrar-respuesta {
    max-height: 500px;
    opacity: 1;
}