.intro {
    height: 80vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/Component%202.png?alt=media&token=ead86fa9-1db2-4a8c-b8b5-f7e38531f530");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $color-primary;

    &-container {

        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: auto;

        &-text {

            display: flex;
            flex-direction: column;
            row-gap: 24px;
            padding: 16.11vw 20vw;
            opacity: 0;
            transition: opacity 2.5s ease;

            &-title {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                &-sub {
                    font-size: 16px;
                    font-weight: 300;
                }

                &-main {
                    font-size: 50px;
                    font-weight: bold;
                }
            }

            &-buttons {
                display: flex;
                justify-content: flex-start;
                column-gap: 24px;
            }

        }
    }

    @include mobile-small {
        height: 100vh;

        &-container {
            &-text {
                padding: 16.11vw 5vw;
            }
        }
    }
}

.featured-products {

    background-color: rgb(237, 237, 237);
    padding: 64px 20vw;

    &-title {
        padding: 24px 0;
    }

    &-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 56px;

        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
            width: 100%;

            &-card {
                display: flex;
                flex-direction: column;
                height: 100%;
                flex-grow: 1;


                &-img {
                    background-color: white;
                    max-width: 100%;
                    min-width: 100%;
                    height: 40vh;
                    object-fit: contain;
                    padding: 4px 0;
                    margin: 0;
                    box-sizing: border-box;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    padding: 16px;
                    background-color: white;
                    flex-grow: 1;
                    border-top: 4px rgb(237, 237, 237) solid;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &-text:hover {
                    background-color: #d1d3d4;
                }

            }


        }


    }

    @include mobile-small {
        &-container {
            &-cards {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

}

.customized-products {
    background-color: $color-septenary;
    color: #ffffff;
    padding: 64px 0;

    &-title {
        padding: 0 20vw 64px 20vw;
    }

    &-videocontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 64px;

        &-video {
            width: 90%;

        }
    }



    &>div:nth-child(2) {
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
    }

    &-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20vw;

        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 16px;
        }
    }
}

.partnership {
    background-color: $color-octonary;
    display: flex;
    flex-direction: row;
    justify-content: center;


    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 48px 48px 48px 20vw;
        width: 50%;
        row-gap: 24px;
    }


    &-photo {
        width: 60%;

        /* Ocupa el 50% del ancho del contenedor padre */
        img {
            width: 100%;
            height: 100%;
            /* Mantiene la proporción original de la imagen */
            object-fit: cover;
        }
    }

    @include mobile-small {
        flex-direction: column;
        

        &-text {
            width: auto;
            padding: 0;
            padding: 48px 2vw;
            display: flex;
            justify-content: center;
            
            &-description{
                display: flex;
                flex-direction: column;
                row-gap: 16px;
            }

            &-button{
                display: flex;
                justify-content: center;
                width: 100%;
            }

        }

        &-photo {
            display: flex;
            justify-content: flex-end;
            width: auto;

        }
    }
}

.loaded {
    opacity: 1;
}