.intro {
    height: 80vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Banner%20principal%2Ffoto-inicio.jpg?alt=media&token=7a128232-f6e1-44b5-b3fa-03447a3f216d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $color-primary;

    &-container {

        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: auto;

        &-text {

            display: flex;
            flex-direction: column;
            row-gap: 24px;
            padding: 16.11vw 20vw;
            opacity: 0;
            transition: opacity 2.5s ease;

            &-title {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                &-sub {
                    font-size: 16px;
                    font-weight: 300;
                }

                &-main {
                    font-size: 50px;
                    font-weight: bold;
                }
            }

            &-buttons {
                display: flex;
                justify-content: flex-start;
                column-gap: 24px;
            }

        }
    }

    @include mobile-small {
        height: 100vh;

        &-container {
            &-text {
                padding: 16.11vw 10vw;
            }
        }
    }
}

.featured-products {

    background-color: rgb(237, 237, 237);
    padding: 64px 20vw;

    &-title {
        padding: 24px 0;
    }

    &-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 56px;

        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
            width: 100%;

            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 740px) {
                grid-template-columns: repeat(1, 1fr);
            }

            &-card {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-grow: 1;
                background-color: white;
                border-radius: 8px;

                &-img {

                    display: flex;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    background-color: white;
                    max-width: 100%;
                    min-width: 100%;
                    height: 256px;
                    object-fit: contain;
                    margin: 0;
                    box-sizing: border-box;
                    flex-grow: 1;
                    border-bottom: solid 2px rgb(237, 237, 237);
                }

                &-text {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 8px;
                    padding: 16px;
                    background-color: white;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &-text p:nth-child(1) {
                    font-weight: bold;
                }

                &-text p:nth-child(2) {
                    font-weight: 300;
                }
            }
        }
    }

    @include tablet {}

    @include mobile-small {
        &-container {
            &-cards {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

}

.customized-products {
    background-color: $color-septenary;
    color: #ffffff;

    &-title {
        padding-bottom: 64px;
        padding: 64px 20vw;
    }

    &-video {
        display: flex;

        padding-bottom: 64px;
        padding: 0 20vw;
        iframe {
            width: 100%;
            height: 44vw;
            padding-bottom: 64px;
        }
    }


    &>div:nth-child(2) {
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
    }

    &-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20vw;

        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 16px;
        }
    }
    
    @include mobile-small{
        &-video{
            iframe{
                height: 350px;
            }
        }
    }
}

.partnership {
    background-color: $color-octonary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20vw;



    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 48px 48px 48px 20vw;
        width: auto;
        row-gap: 24px;

        &-description{
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }

    }


    &-photo {
        width: 200%;
        /* Ocupa el 50% del ancho del contenedor padre */
        img {
            width: 100%;
            height: 100%;
            /* Mantiene la proporción original de la imagen */
            object-fit: cover;
        }
    }

    @include mobile-large{
        
    }

    @include mobile-small {
        flex-direction: column;


        &-text {
            width: auto;
            padding: 0;
            padding: 48px 10vw;
            display: flex;
            justify-content: center;
            align-items: center;

            &-description {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
            }

            &-button {
                display: flex;
                justify-content: center;
                width: 100%;
            }

        }

        &-photo {
            display: flex;
            justify-content: flex-end;
            width: auto;

        }
    }
}

.loaded {
    opacity: 1;
}

.hovered {
    background-color: $color-two;
    text-decoration: underline;
}

.clicked {
    background-color: $color-three;
    text-decoration: underline;
}