.distributor-list {
    background-color: $color-decenary;


    &-banner {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;
        padding: 30px 20vh;

        &-title {
            text-align: start;
        }

        &-finder {
            display: flex;
            flex-direction: row;
            column-gap: 32px;

            &-maps {
                flex: 1;
                max-width: 60%;
                height: 50vh;

                iframe {
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }

            &-partnership-locations {
                flex: 1; // Hacer que ocupe el espacio restante
                max-width: 40%; // Limitar el ancho al 40% del contenedor
                display: flex;
                flex-direction: column;
                row-gap: 32px;

            }
        }
    }

    @include tablet {
        &-body {
            padding-bottom: 64px;

            &-finder {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                row-gap: 32px;

                &-maps {
                    max-width: 100%;
                }

                &-partnership-locations {
                    max-width: 100%;
                }
            }
        }
    }

    @include mobile-large {
        &-body {
            padding: 30px 5vh;
            padding-bottom: 64px;

            &-title {}

            &-finder {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                row-gap: 32px;

                &-maps {
                    max-width: 100%;
                }

                &-partnership-locations {
                    max-width: 100%;
                }
            }
        }

    }

    @include mobile-small {

        &-body {
            padding: 30px 5vh;

            &-title {}

            &-finder {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                row-gap: 32px;

                &-maps {
                    max-width: 100%;
                }

                &-partnership-locations {
                    max-width: 100%;
                }
            }
        }
    }
}