$color-primary: #fefeff;
$color-secundary: #424342;
$color-tertiary:#f2f8f9;
$color-quaternary: #545454;
$color-quinary: #B3B2B2;
$color-senary: #B3B2B2;
$color-septenary: #464646 ;
$color-octonary: #D1D1D1;
$color-novenary: #17191A;
$color-decenary: #EDEDED;
$color-undenary: #D9D9D9;
$color-duodenary: #181818;
$color-tricenary: #706F6F;



$color-senary: #d7d7db;

$color-primary-button: #fefeff;
$color-secundary-button: #585858;
$color-tertiary-button:#888988;

