{% extends "layout.html" %}
{% block content %}
<div class="collection-img">
    <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Ffondo-bano-acogedor-llamadas-zoom.png?alt=media&token=dabde6ac-9081-43ef-8db8-9f67fa461365"
        alt="banner-diseños">
</div>

<div class="collection-container">
    <div class="collection-container-title" id="collectionTitle">
        
    </div>
</div>

<script type="module" src="/static/js/index/cargarColeccion.js"></script>
{% endblock %}