{% extends "layout.html" %}
{% block content %}
<div class="colsearched">
    <div class="banner-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Colecciones%2FBanner%2Fcoleccionesdedisenio.jpg?alt=media&token=6be6b2c6-f216-4226-8a21-b8865fb97fd0"
            alt="banner-diseños">
    </div>
    <div class="colsearched-title">
        <h1>Has buscado la colección {{coleccion}}</h1>
    </div>

    <div class="colsearched-container" id="collectionSearchedContainer">

    </div>

</div>
{% endblock %}

{% block end_scripts %}
<script type="module" src="/static/js/index/cargarProducto.js"></script>
<script type="module">
    import { traerColleciones } from "/static/js/traerCollections.js";
    import { traerProductoxColeccion } from "/static/js/traerProducts.js";
    import { cargarColeccionBuscada } from "/static/js/index/cargarColeccionBuscada.js";

    let coleccionEncontrada = ""

    window.addEventListener('DOMContentLoaded', async () => {
        const colecciones = await traerColleciones();
        colecciones.forEach(async coleccion => {
            if (coleccion.nombre === "{{coleccion}}") {
                const productosColeccion = await traerProductoxColeccion(coleccion.id);
                cargarColeccionBuscada(productosColeccion, coleccion.nombre);
            }
        });

    });
</script>
{% endblock %}