{% extends "layout.html" %}

{% block extra_scripts %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block content %}
<div class="collection-img">
    <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Colecciones%2FBanner%2Fcoleccionesdedisenio.jpg?alt=media&token=6be6b2c6-f216-4226-8a21-b8865fb97fd0"
        alt="banner-diseños">
</div>

<div class="collection-container">

    <div class="collection-container-route" id="containerRoute">

    </div>

    <div class="collection-container-title" id="containerTitle">

    </div>
    <div class="collection-container-cards" id="containerCards">

    </div>

</div>
<div class="pointsales">
    <div class="pointsales-text">
        <div class="pointsales-text-title">
        <h1>Conocé nuestros puntos de venta</h1>
        </div>
        <div class="pointsales-text-description">
            <p>Visitá nuestros puntos de venta y encontrá la fusión perfecta entre elegancia y funcionalidad.</p>
            <a href="{{ url_for('index.puntosDeVenta') }}" class="pointsales-text-description-button"><button class="button-primary">Ver Más</button></a>
        </div>
    </div>
    <div class="pointsales-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fconoce_puntos_de_venta.jpg?alt=media&token=b3469483-cd45-4c05-af05-f7376d8a5a3b"
            alt="Ir-a-Distribuidores">
    </div>

</div>

{% endblock %}

{% block end_scripts %}

<script type="module" src="/static/js/index/cargarColeccion.js"></script>
<script type="module">

    import { cargarMenuColeccion } from '/static/js/index/cargarColeccion.js';
    import { crearRutaProductoTipoVolver } from '/static/js/returnRoutes/volverProductoTipos.js'
    import { agregarEventosHover, agregaEventosClick } from '/static/js/animations/animacionesCardss.js'
    import { cargarTituloProducto } from '/static/js/index/cargarTituloProducto.js'


    window.addEventListener('DOMContentLoaded', () => {
        const tipo = '{{tipo}}';
        const coleccionData = '{{ colecciones_data | tojson | safe }}';
        const colecciones = JSON.parse(coleccionData);
        cargarTituloProducto(tipo);
        crearRutaProductoTipoVolver();
        colecciones.forEach(coleccion => {
            cargarMenuColeccion(coleccion.nombre, coleccion.imgRepresentativa, tipo);
            let cartas = document.querySelectorAll('.collection-container-cards-card');
            agregarEventosHover(cartas, '.collection-container-cards-card-text');
            agregaEventosClick(cartas, '.collection-container-cards-card-text');
        });


    });

</script>
{% endblock %}