{% extends "layout.html" %}
{% block content %}
<div class="colsearched">
    <div class="banner-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Colecciones%2FBanner%2Fcoleccionesdedisenio.jpg?alt=media&token=6be6b2c6-f216-4226-8a21-b8865fb97fd0"
            alt="banner-diseños">
    </div>
    <div class="colsearched-title">
        <h1>Has buscado la colección {{coleccion}}</h1>
    </div>

    <div class="colsearched-container" id="collectionSearchedContainer">

    </div>

</div>
<div class="pointsales">
    <div class="pointsales-text">
        <div class="pointsales-text-title">
        <h1>Conocé nuestros puntos de venta</h1>
        </div>
        <div class="pointsales-text-description">
            <p>Visitá nuestros puntos de venta y encontrá la fusión perfecta entre elegancia y funcionalidad.</p>
            <a href="{{ url_for('index.puntosDeVenta') }}" class="pointsales-text-description-button"><button class="sales-button">Ver Más</button></a>
        </div>
    </div>
    <div class="pointsales-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fconoce_puntos_de_venta.jpg?alt=media&token=b3469483-cd45-4c05-af05-f7376d8a5a3b"
            alt="Ir-a-Distribuidores">
    </div>

</div>
{% endblock %}

{% block end_scripts %}
<script type="module" src="/static/js/index/cargarProducto.js"></script>
<script type="module">
    import { traerColleciones } from "/static/js/traerCollections.js";
    import { traerProductoxColeccion } from "/static/js/traerProducts.js";
    import { cargarColeccionBuscada } from "/static/js/index/cargarColeccionBuscada.js";

    let coleccionEncontrada = ""

    window.addEventListener('DOMContentLoaded', async () => {
        const colecciones = await traerColleciones();
        colecciones.forEach(async coleccion => {
            if (coleccion.nombre === "{{coleccion}}") {
                const productosColeccion = await traerProductoxColeccion(coleccion.id);
                cargarColeccionBuscada(productosColeccion, coleccion.nombre);
            }
        });

    });
</script>
{% endblock %}