{% extends "layout.html" %}
{% block content %}
<div class="collection-img">
    <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Ffondo-bano-acogedor-llamadas-zoom.png?alt=media&token=dabde6ac-9081-43ef-8db8-9f67fa461365"
        alt="banner-diseños">
</div>

<div class="collection-container" id="{{coleccion.nombre}}">
    <div class="collection-container-title" id="containerTitle">

    </div>
    <div class="collection-container-cards" id="containerCards">

    </div>

</div>


{% endblock %}

{% block end_scripts %}

<script type="module" src="/static/js/index/cargarColeccion.js"></script>
<script type="module">
    import { cargarMenuColeccion } from '/static/js/index/cargarColeccion.js';

    window.addEventListener('DOMContentLoaded', () => {
        const coleccionId = "{{coleccion.id}}";
        const coleccionNombre= "{{coleccion.nombre}}";
        cargarMenuColeccion(coleccionId, coleccionNombre);
    });

</script>
{% endblock %}