{% extends "layout.html" %}
{% block content %}
<div class="banner-img">
    <img src="/static/img/representatives-img/consultaBanner.png" alt="conusltaBanner">
</div>

<div class="consultation">

    <div class="consultation-menu">

        <div class="consultation-menu-title">
            <h1>Preguntas Frecuentes</h1>
        </div>

        <div class="consultation-menu-matters">
            <div class="consultation-menu-matters-matter" id="question1">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Cómo se limpian los productos?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question2">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Cuánto tiempo dura la garantía?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question3">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Realizan productos personalizados y a medida?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question4">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Dónde puedo ver los productos?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question5">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿En cuáles líneas puedo cambiar el color del revestimiento?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question6">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Dónde puedo descargar el manual de instalación?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question7">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Dónde puedo encontrar información técnica sobre los respuestos?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quisquam! Sapiente, at voluptate
                        veritatis quidem impedit eum totam atque veniam qui labore recusandae odio nemo error! Enim sit
                        quasi necessitatibus.</p>
                </div>

            </div>
        </div>

        <div class="consultation-menu-contact" id="menuContact">
            <div class="consultation-menu-contact-subtitle">
                <h1>Contáctate con nosotros</h1>
            </div>

            <form action="#" class="consultation-menu-contact-form" id="formContact">
                <div class="consultation-menu-contact-form-inputs">
                    <input class="consultation-menu-contact-form-inputs-input" type="text" name="name"
                        placeholder="Nombre y Apellido">
                    <input class="consultation-menu-contact-form-inputs-input" type="text" name="topic"
                        placeholder="Asunto">
                    <input class="consultation-menu-contact-form-inputs-input" type="email" name="email"
                        placeholder="Correo electrónico">
                    <textarea rows="8" name="message" class="consultation-menu-contact-form-inputs-box"
                        placeholder="Escribir mensaje"></textarea>

                </div>
                <div class="consultation-menu-contact-form-inputs-btn">
                    <button class="button-secondary" type="submit" id="btnConsultation">Enviar</button>
                </div>
            </form>

            <div class="consultation-menu-contact-buttons">
                <div class="consultation-menu-contact-buttons-btn">
                    <a href="https://wa.me/5491154030762" target="_blank" class="consultation-menu-contact-buttons-btn-link">
                        <i class="fa-brands fa-whatsapp" style="color: #bdbcb8; margin-right: 8px;"></i><p>11 5403 0762</p>
                    </a>
                </div>
                <div class="consultation-menu-contact-buttons-btn">
                    <a href="mailto:ventas@thol.com.ar" class="consultation-menu-contact-buttons-btn-link">
                        <i class="fa-solid fa-envelope"
                            style="color: #bdbcb8; margin-right: 8px;"></i><p>ventas@thol.com.ar</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="consultation-img">
        <img src="/static/img/representatives-img/consultaDecoracion.png" alt="grefería">
    </div>

</div>

<script src="/static/js/index/enviarCorreo.js"></script>
{% endblock %}

{% block extra_scripts %}
<!-- <script src="/static/js/index/enviarCorreo.js"></script> -->
<script src="/static/js/animations/animacionPreguntas.js"></script>
{% endblock %}