{% extends "layout.html" %}
{% block content %}
<div class="banner-img">
    <img src="/static/img/representatives-img/consultaBanner.png" alt="conusltaBanner">
</div>

<div class="consultation">

    <div class="consultation-menu">

        <div class="consultation-menu-title">
            <h1>Preguntas Frecuentes</h1>
        </div>

        <div class="consultation-menu-matters">
            <div class="consultation-menu-matters-matter" id="question1">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Cómo se deben limpiar los juegos?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer1">
                    <p>Utilizar un paño suave con detergente, y gamuza para levantar brillo. En caso de manchas
                        calcáreas puede utilizar vinagre de alcohol. De considerarlo necesario una vez limpia la
                        superficie aplicar Blem, lustra muebles, esto es una silicona líquida que aplicada con un paño
                        suave, protege el acabado de la superficies.
                        No utilizar esponja metálica o de fibra, agentes químicos ni elementos abrasivos o cualquier
                        otro producto que dañe la superficie.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question2">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Pérdida gradual de caudal?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer2">
                    <p>Los aireadores se van obstruyendo con el tiempo, esto se soluciona desarmando la boquilla y
                        limpiando con un chorro de agua el aireador.</p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question3">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿A qué altura sugerimos colocar los juegos de lavatorio de pared?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer3">
                    <p>Para bachas de apoyo, sugerimos que la salida de agua del pico este a una altura de 12 a 15 cm
                        del borde superior de la bacha.
                        Para bachas de embutir, sugerimos que la salida de agua del pico este a una altura de 14 a 18 cm
                        de la mesada.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question4">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Cuáles son las presiones recomendadas por Thol?
                    </h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer4">
                    <p>Para instalaciones sanitarias domiciliarias, recomendamos que la presión máxima no supere los 25
                        m.c.a.
                        La presión mínima recomendada por Thol para la mayoría de sus juegos es de 5 m.c.a.

                        Para lluvias:
                        caudal mínimo de alimentación a presión estática, de 0.4 bar 2,0 litros por minutos (en
                        conexiones de agua fría y caliente)
                        caudal mínimo de salida, 0.4 bar de presión
                        plafón de 380 x 380= 7,4 litros por minuto
                        plafón led 260 x 260 = 6,5 litros por minuto
                        lluvia de 200 mm = 6,2 litros por minuto
                        lluvia de 150 mm = 6 litros por minuto

                        La mínima diferencia de caudal entre la lluvia de 200 y 150 mm, es por el efecto, (lluvia
                        natural) de la misma, sin picos anticalcareos.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question5">
                <div class="consultation-menu-matters-matter-question">
                    <h3> ¿Cuál es la distancia entre ejes para instalar juegos exteriores de cocina y ducha?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer5">
                    <p>La distancia entre ejes de todos los juegos exteriores de Thol es de 205 milímetros con codos
                        excéntricos que permiten compensar errores de hasta 2 milímetros.

                        Recomendaciones para la obra:
                        Almacenamiento de productos: una vez que estos están en obra hay que almacenarlos en lugares
                        secos y lejos de productos químicos que puedan emitir vapores que dañen los acabados
                        superficiales.
                        Para una correcta instalación de los juegos de grifería consulte el instructivo adjunto en la
                        caja, o en nuestra web.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question6">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿Se realizan productos personalizados y a medida?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer6">
                    <p>Nuestro objetivo es cumplir tus expectativas.
                        Contamos con un equipo especializado, para realizar tu grifería de diseño. Realizamos productos
                        personalizados, según diseño de arquitecto y cliente.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question7">
                <div class="consultation-menu-matters-matter-question">
                    <h3>¿En cuáles líneas puedo cambiar el color del producto?</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer7">
                    <p>Todos nuestros productos están aptos para cambiar el color a gusto del cliente. Contamos con una
                        amplia paleta de colores que puede ser usada en todos nuestros productos.</p>
                </div>

            </div>
            <div class="consultation-menu-matters-matter" id="question7">
                <div class="consultation-menu-matters-matter-question">
                    <h3>Limpieza y mantenimiento</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer7">
                    <p>Nuestros productos han sido fabricados con materiales de calidad superior, que aseguran una
                        prolongada vida útil. Para su mantenimiento no se debe usar: esponjas metálicas o de fibra,
                        polvos limpiadores, ni elementos abrasivos. Recomendamos usar detergentes hogareños con paño
                        suave y gamuza para levantar brillo.

                        En caso de griferías instaladas en zona de aguas duras, es necesario repasar diariamente las
                        griferías, para evitar los depósitos calcáreos. De considerarlo necesario, una vez limpia la
                        superficie aplicar, “Blem” lustramuebles, esto es una silicona líquida que aplicada con un paño
                        suave, protege el acabado de la superficies.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question7">
                <div class="consultation-menu-matters-matter-question">
                    <h3>Limpieza y mantenimiento</h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer7">
                    <p>Nuestros productos han sido fabricados con materiales de calidad superior, que aseguran una
                        prolongada vida útil. Para su mantenimiento no se debe usar: esponjas metálicas o de fibra,
                        polvos limpiadores, ni elementos abrasivos. Recomendamos usar detergentes hogareños con paño
                        suave y gamuza para levantar brillo.

                        En caso de griferías instaladas en zona de aguas duras, es necesario repasar diariamente las
                        griferías, para evitar los depósitos calcáreos. De considerarlo necesario, una vez limpia la
                        superficie aplicar, “Blem” lustramuebles, esto es una silicona líquida que aplicada con un paño
                        suave, protege el acabado de la superficies.
                    </p>
                </div>
            </div>
            <div class="consultation-menu-matters-matter" id="question7">
                <div class="consultation-menu-matters-matter-question">
                    <h3>Garantía
                    </h3>
                    <i class="fa-solid fa-angle-down" style="color: #181818;"></i>
                </div>
                <div class="consultation-menu-matters-matter-answer" id="answer7">
                    <p>Será requisito inexcusable para realizar cualquier reclamo, que la garantía tenga validez, y la presentación de la factura original de compra.
                        Si a criterio debidamente fundado del personal técnico de Thol, es comprobada la intervención de mano de obra inexperta en la colocación, reparación y/o mantenimiento de los productos, esta garantía perderá automáticamente su validez.
                        
                        
                        Thol no asume responsabilidad alguna por los daños personales, o a la propiedad que pudiera causar la mala instalación, uso indebido, incluyendo en este último caso la falta de mantenimiento.
                        La garantía se basa en pruebas realizadas en las griferías, con aguas corrientes de la empresa Aysa, y de las distintas empresas y cooperativas del interior del país, las que cumplen con las normativas actuales de potabilización y tratamiento de aguas corrientes.
                        La garantía no ampara deterioros calcáreos surgidos, de "aguas duras" (alto contenido en sales de magnesio y calcio entre otras.)
                        La reparación de los productos fabricados por Thol, solo podrá delegarse, al personal capacitado. El plazo de garantía será de 5 años a partir de la fecha de compra, por un defecto de fabricación. 
                        
                    </p>
                </div>
            </div>

        </div>

        <div class="consultation-menu-contact" id="menuContact">
            <div class="consultation-menu-contact-subtitle">
                <h1>Contáctate con nosotros</h1>
            </div>

            <form action="#" class="consultation-menu-contact-form" id="formContact">
                <div class="consultation-menu-contact-form-inputs">
                    <input class="consultation-menu-contact-form-inputs-input" type="text" name="name"
                        placeholder="Nombre y Apellido">
                    <input class="consultation-menu-contact-form-inputs-input" type="text" name="topic"
                        placeholder="Asunto">
                    <input class="consultation-menu-contact-form-inputs-input" type="email" name="email"
                        placeholder="Correo electrónico">
                    <textarea rows="8" name="message" class="consultation-menu-contact-form-inputs-box"
                        placeholder="Escribir mensaje"></textarea>

                </div>
                <div class="consultation-menu-contact-form-inputs-btn">
                    <button class="button-secondary" type="submit" id="btnConsultation">Enviar</button>
                </div>
            </form>

            <div class="consultation-menu-contact-buttons">
                <div class="consultation-menu-contact-buttons-btn">
                    <a href="https://wa.me/5491154030762" target="_blank"
                        class="consultation-menu-contact-buttons-btn-link">
                        <i class="fa-brands fa-whatsapp" style="color: #bdbcb8; margin-right: 8px;"></i>
                        <p>11 5403 0762</p>
                    </a>
                </div>
                <div class="consultation-menu-contact-buttons-btn">
                    <a href="mailto:ventas@thol.com.ar" class="consultation-menu-contact-buttons-btn-link">
                        <i class="fa-solid fa-envelope" style="color: #bdbcb8; margin-right: 8px;"></i>
                        <p>ventas@thol.com.ar</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="consultation-img">
        <img src="/static/img/representatives-img/consultaDecoracion.png" alt="grefería">
    </div>

</div>

<script src="/static/js/index/enviarCorreo.js"></script>
{% endblock %}

{% block extra_scripts %}
<!-- <script src="/static/js/index/enviarCorreo.js"></script> -->
<script src="/static/js/animations/animacionPreguntas.js"></script>
{% endblock %}