<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thol</title>
    <link rel="stylesheet" href="/static/css/styletemp.css">
</head>

<body class="temporaly-index">
    <div class="temporaly-index-banner">
        <img class="img-banner-temp"
            src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/1634390186.png?alt=media&token=b0cb5302-8ef0-45a5-b19c-86998c6847ae"
            alt="banner-index-temporal">
    </div>
    <div class="temporaly-index-container">
        <div class="temporaly-index-container-page">
            <div class="temporaly-index-logo">
                <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Group.png?alt=media&token=2a9bcd2c-dd3d-40c0-a10d-e1f8b8cf3873"
                    alt="thol-logo">
            </div>

            <div class="temporaly-index-title">
                <h1>Página en Mantenimiento.</h1>
            </div>
            <div class="temporaly-index-text">
                <p>Puede contactarnos o conocer nuestro Instagram en el siguiente link: </p>
                <a href="https://linktr.ee/griferias.thol">https://linktr.ee/griferias.thol</a>
            </div>
        </div>
    </div>


</body>

</html>