{% extends "layout.html" %}
{% block content %}
<section class="intro">
    <div class="intro-container">
        <div class="intro-container-text">
            <div class="intro-container-text-title" id="indexTitulo">
                <p class="intro-container-text-title-sub">VENTA A DISTRIBUIDORES</p>
                <h1 class="intro-container-text-title-main">Grifería de diseño, <br> de máxima calidad.</h1>
            </div>
            <div class="intro-container-text-buttons">
                <a href="{{ url_for('index.puntosDeVenta') }}"><button class="button-primary">Mostrar puntos de
                        venta</button></a>
                <a href="{{ url_for('index.nuestroDisenio') }}"><button class="button-secondary">Conocer
                        colecciones</button></a>
            </div>
        </div>
    </div>
</section>

<section class="featured-products">
    <div class="featured-products-title">
        <h2>Productos Destacados</h2>
    </div>
    <div class="featured-products-container" id="productContainer">
        <div class="featured-products-container-cards" id="featuredProducts">

        </div>
        <div class="featured-products-container-button">
            <a href="{{ url_for('index.nuestroDisenio') }}"><button class="button-primary">Conocer
                    colecciones</button></a>
        </div>
    </div>
</section>

<section class="customized-products">
    <div class="customized-products-title">
        <h1><strong>Productos personalizados</strong><br> y realizados a tu medida</h1>
    </div>
    <div class="customized-products-videocontainer">
        <video class="customized-products-videocontainer-video" id="videoThol"
            src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/Thol%20griferias%20v3.mp4?alt=media&token=979d0d8d-a4da-4028-b7f8-615a94036441"
            alt="video-presentacion">
    </div>

</section>

<section class="partnership">
    <div class="partnership-text">
        <div class="partnership-text-description">
            <h1>¿Querés ser parte de nuestros distribuidores?</h1>
            <p>Tenemos mas de 40 años trabajando en el mercado de griferías. Con amplia experiencia podemos asegurar que
                brindamos productos de primera calidad, podes integrarte a nuestros puntos de venta enviandonos un mail
                con este botón.</p>
        </div>

        <div class="partnership-text-button">
            <a href="{{ url_for('index.consulta') }}"><button class="button-primary">Contactanos</button></a>
        </div>
    </div>

    <div class="partnership-photo">
        <img src="/static/img/representatives-img/dos-hombres-negocios-celebrando-trato 1.png"
            alt="solicitud-de-socios">
    </div>

</section>
{% endblock %}

{% block end_scripts %}

<script type="module" src="/static/js/index/cargarProductosDestacados.js"></script>
<script type="module" src="/static/js/animations/animacionIndex.js"></script>
<script src="/static/js/index/video.js"></script>
{% endblock %}