<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    {% block extra_scripts %}{% endblock %}
</head>

<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="/static/img/thol.png" alt="logo_thol">
        </div>

        <ul class="navbar-items">
            <a href="/">
                <li class="navbar-items-item">Inicio</li>
            </a>
            <a href="{{ url_for('index.nuestroDisenio') }}">
                <li class="navbar-items-item">Nuestra serie de Diseño</li>
            </a>
            <a href="{{ url_for('index.puntosDeVenta') }}">
                <li class="navbar-items-item">Puntos de Venta</li>
            </a>
            <a href="{{ url_for('index.personalizacion') }}">
                <li class="navbar-items-item">Personalización</li>
            </a>
            <a href="{{ url_for('index.consulta') }}">
                <li class="navbar-items-item">Consulta</li>
            </a>
            <li class="navbar-items-item-searcher">
                <input class="searcher" type="search" placeholder="Buscar">
            </li>
        </ul>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>

    <footer class="footer2">

        <div class="footer2-container">

            <div class="footer2-container-logo">
                <img src="/static/img/thol3.png" alt="logo3_thol">
            </div>

            <div class="footer2-container-nav">
                <div class="footer2-container-nav-section">
                    <h3>Inicio</h3>

                </div>

                <div class="footer2-container-nav-section">
                    <h3>Nuestra serie de diseño</h3>
                    <ul>
                        <li>Colecciones</li>
                        <li>Accesorios</li>
                        <li>Complementos</li>
                        <li>Newsletter</li>
                    </ul>
                </div>

                <div class="footer2-container-nav-section">
                    <h3>Puntos de Venta</h3>
                    <ul>
                        <li>Mapa</li>
                        <li>Puntos de Venta</li>
                    </ul>
                </div>

                <div class="footer2-container-nav-section">
                    <h3>Personalización</h3>

                </div>

                <div class="footer2-container-nav-section">
                    <h3>Consultas</h3>
                    <ul>
                        <li>Preguntas Frecuentes</li>
                    </ul>
                </div>

                <div class="footer2-container-nav-section">
                    <h3>Admin</h3>
                    <ul>
                        <a href="{{url_for('index.interno')}}"><li>Interno</li></a>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer2-copyright">
            Thol Griferías Todos los derechos reservados 2023
        </div>

    </footer>

</body>

{% block end_scripts %}
{% endblock %}

</html>