<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="" type="image/x-icon">
    {% block extra_scripts %}{% endblock %}
</head>

<body>

    <nav class="navbar" id="navbar">
        <div class="navbar-logo">
            <a href="/"><img src="/static/img/thol.png" alt="logo_thol"></a>

            <div class="navbar-logo-mobile-open" id="icon-open">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="navbar-logo-mobile-close" id="icon-close">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="navbar-logo-mobile-searcher" id="mobile-searcher">

            </div>

        </div>

        <ul class="navbar-items">
            <a href="/">
                <li class="navbar-items-item">Inicio</li>
            </a>
            <a href="{{ url_for('index.nuestroDisenio') }}">
                <li class="navbar-items-item">Nuestra serie de Diseño</li>
            </a>
            <a href="{{ url_for('index.puntosDeVenta') }}">
                <li class="navbar-items-item">Puntos de Venta</li>
            </a>
            <a href="{{ url_for('index.personalizacion') }}">
                <li class="navbar-items-item">Personalización</li>
            </a>
            <a href="{{ url_for('index.consulta') }}">
                <li class="navbar-items-item">Consulta</li>
            </a>
            <li class="navbar-items-item-searcher" id="searcher">
                <input class="navbar-items-item-searcher-input" type="search" placeholder="Buscar">
                <div class="navbar-items-item-searcher-list" id="results">
                
                </div>
            </li>
            
        </ul>
    </nav>

    <div class="content" id="content">{% block content %}{% endblock %}</div>

    <footer class="footer">

        <div class="footer-container">

            <div class="footer-container-nav">
                <div class="footer-container-nav-logo">
                    <img src="/static/img/thol3.png" alt="logo3_thol">
                </div>
            </div>

            <div class="footer-container-nav">

                <div class="footer-container-nav-section">
                    <h3>Productos</h3>
                    <ul class="footer-container-nav-section-list">
                        <li><a href="/nuestrodisenio/coleccion/Bimando">Bimando</a></li>
                        <li><a href="/nuestrodisenio/coleccion/Monocomando">Monocomando</a></li>
                        <li><a href="/nuestrodisenio/coleccion/Freestanding">Freestanding</a></li>
                        <li><a href="/nuestrodisenio/coleccion/Accesorio">Accesorios</a></li>
                        <li><a href="/nuestrodisenio/coleccion/Complemento">Complementos</a></li>
                    </ul>
                </div>

                <div class="footer-container-nav-section">
                    <h3>Información</h3>
                    <ul class="footer-container-nav-section-list">
                        <li><a href="{{ url_for('index.consulta') }}">Preguntas Frecuentes</a></li>
                        <li><a href="/consulta#menuContact">Consultar</a></li>
                        <li><a href="{{ url_for('index.puntosDeVenta') }}">Puntos de Venta</a></li>
                    </ul>
                </div>

                <div class="footer-container-nav-section">
                    <h3>Redes Sociales</h3>
                    <ul class="footer-container-nav-section-socialmedia">
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></i></a>
                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-copyright">
            <p>Thol Griferías</p>
            <p>Todos los derechos reservados 2023</p>
        </div>
    </footer>

    {% block end_scripts %}

    {% endblock %}
    <script src="/static/js/searcher/searcher.js"></script>
    <script type="module" src="/static/js/animations/navbar.js"></script>
    <script src="https://kit.fontawesome.com/f097d0c634.js" crossorigin="anonymous"></script>
</body>

</html>