{% extends "layout.html" %}
{% block content %}
<div class="collections-img">
    <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Ffondo-bano-acogedor-llamadas-zoom.png?alt=media&token=dabde6ac-9081-43ef-8db8-9f67fa461365"
        alt="banner-diseños">
</div>
<div class="collections-body">

    <div class="collections-body-title">
        <h2>Conocé nuestras colecciones de griferías</h2>
    </div>

    <section class="collections-body-container" id="collectionContainer">

    </section>
</div>

<script type="module" src="/static/js/index/cargarTarjetasColecciones.js"></script>
{% endblock %}