{% extends "layout.html" %}

{% block content %}
<div class="collections-img">
    <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Colecciones%2FBanner%2Fcoleccionesdedisenio.jpg?alt=media&token=6be6b2c6-f216-4226-8a21-b8865fb97fd0"
        alt="banner-diseños">
</div>
<div class="collections-body">

    <div class="collections-body-title">
        <h2>Nuestras categorías de productos</h2>
    </div>

    <section class="collections-body-container" id="collectionContainer">

    </section>
</div>

<script type="module" src="/static/js/index/cargarTarjetasColecciones.js"></script>
{% endblock %}