{% extends "layout.html" %}

{% block extra_scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div>
    <div>
        <section class="banner-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FBanner%2Fbanner_personalizacion-3.jpg?alt=media&token=b58411ad-eb5f-426f-8b2b-dca01a1fa599"
                alt="banner-diseños">
        </section>
    </div>

    <div class="customization-sections">

        <section class="customization-sections-intro">
            <div class="customization-sections-intro-title">
                <div class="customization-sections-intro-title-h1">
                    <h1>
                        Potencia tu proyecto <br> con tu propio diseño
                    </h1>
                </div>
                <div class="customization-sections-intro-title-text">
                    <p>
                        Materializamos tu idea. En “Thol” realizamos distintos tipos de acabados y trabajos a medida,
                        para
                        darle
                        el toque especial a tu grifería.
                    </p>
                </div>

            </div>
            <div class="customization-sections-intro-carousel">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="8"
                            aria-label="Slide 9"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="9"
                            aria-label="Slide 10"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="10"
                            aria-label="Slide 11"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="11"
                            aria-label="Slide 12"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FA.jpg?alt=media&token=c35fd28d-5279-46b2-bf24-35d07eba3ef8"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FB.jpg?alt=media&token=6340abd8-97c7-433b-9e46-3cb845e21d82"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FC.jpg?alt=media&token=5b3355d5-d98e-4f53-9938-a9a268a80113"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FD.jpg?alt=media&token=eb0df4c4-7bd6-46f4-ba27-30f4c23b21e7"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FE.jpg?alt=media&token=d19f459a-39e8-4bf6-99c3-adeddad3db55"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FF.jpg?alt=media&token=836a22cb-c0cd-46a6-8998-699fa36d9b51"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FG.jpg?alt=media&token=8b6ce342-f516-4ae2-a8de-9a8c4424b6a1"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FH.jpg?alt=media&token=a39b0667-254b-416e-8d98-dbba7551b09e"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FI.jpg?alt=media&token=615a2434-887a-4bf7-99e9-e800c07c09e3"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FJ.jpg?alt=media&token=267c1690-a017-4e45-99f1-67c2d666fd19"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FK.jpg?alt=media&token=4bb96527-0a48-4935-8986-f928275a2e49"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FGaleria%2FL.jpg?alt=media&token=5b532f5c-9d13-4330-92fb-5d11d239f98e"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </section>

        <section class="customization-sections-articles">
            <article class="customization-sections-articles-sizes">

                <div class="customization-sections-articles-sizes-title">
                    <h1>Diseño de grifería a medida</h1>
                </div>

                <div class="customization-sections-articles-sizes-info">
                    <div class="customization-sections-articles-sizes-info-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fdimensiones_especiales.jpg?alt=media&token=4f842380-a595-4a44-9d9d-d88bde4988e8"
                            alt="imagen referencial a producto">
                    </div>
                    <div class="customization-sections-articles-sizes-info-text">
                        <h4>Dimensiones especiales</h4>
                        <p>La grifería Thol no solo se destaca por su adaptabilidad a medidas específicas, sino que
                            también
                            brindamos
                            soluciones personalizadas a nuestros clientes. </p>
                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-selected">
                <div class="customization-sections-articles-selected-info">
                    <div class="customization-sections-articles-selected-info-text">
                        <h4>Diseños exclusivos</h4>
                        <p>Nuestro compromiso con la excelencia en el diseño garantiza que cada grifería Thol sea una
                            obra maestra exclusiva, combinando funcionalidad y estética para una experiencia única en
                            cada esp acio. </p>
                    </div>
                    <div class="customization-sections-articles-selected-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fdisenios_exclusivos.jpg?alt=media&token=43e0c474-b127-4d38-ada3-b5f9b1cb17d6"
                                alt="Imagen referencial a griferias en pose">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fdisenios_exclusivos2.jpg?alt=media&token=005a1a6c-8a39-4f2a-a1bc-491870955010"
                                alt="magen referencial a griferias en pose">
                        </div>


                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-finished">
                <div class="customization-sections-articles-finished-title">
                    <h4>Nuestros acabados</h4>
                </div>
                <div class="customization-sections-articles-finished-colors">
                    <ul class="customization-sections-articles-finished-colors-list">
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2F48%20NEGRO_CLASICO.png?alt=media&token=8ea50526-df41-4f0b-9c43-e12320315341"
                                alt="Color Negro">
                            <p>48 NEGRO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2F50%20BLANCO_CLASICO.png?alt=media&token=e7c8b437-a3ee-4f0a-818f-29a470ee369e"
                                alt="Color Blanco">
                            <p>50 BLANCO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2F68%20CROMO_CLASICO.png?alt=media&token=801dedc1-d075-465f-bd87-451737fd49ac"
                                alt="Color Cromo">
                            <p>68 CROMO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2F76%20BRUNET_CLASICO.png?alt=media&token=0091df63-946d-40f8-8493-a20d03a4e5b3"
                                alt="Color Brunet">
                            <p>76 BRUNET</p>
                        </li>
                        <li class="last-item"><img
                                src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2F86%20GRAFITO_CLASICO.png?alt=media&token=bb2c27e1-115d-4491-a3fe-f518684e55f7"
                                alt="Color grafito">
                            <p>86 GRAFITO</p>
                        </li>
                    </ul>
                </div>

            </article>

            <article class="customization-sections-articles-unique">
                <div class="customization-sections-articles-unique-info">
                    <div class="customization-sections-articles-unique-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fcolores_unicos.jpg?alt=media&token=9916fcbd-caa1-4da5-affd-fcc162e62ec2"
                                alt="color de grifería de ejemplo 2">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Fcolores_unicos2.jpg?alt=media&token=3a1d53b9-7ed5-4a51-8261-4545bdae9f4c"
                                alt="color de grifería de ejemplo 3">
                        </div>
                    </div>

                    <div class="customization-sections-articles-unique-info-text">
                        <h4>Colores únicos</h4>
                        <p>Thol se distingue por ofrecer griferías con colores exclusivos y acabados especiales. Nuestra
                            empresa se enorgullece de proporcionar opciones personalizadas </p>
                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-specials">
                <div class="customization-sections-articles-specials-titles">
                    <h4>Acabados especiales</h4>
                </div>
                <div class="customization-sections-articles-specials-colors">
                    <ul class="customization-sections-articles-specials-colors-list">
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2Fespeciales%2F54%20NIQUEL%20MATE_ESPECIAL.png?alt=media&token=eb7275c4-5839-4bf6-bd6d-aecd41a1dda2"
                                alt="Color niquel ">
                            <p>54 NIQUEL MATE</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2Fespeciales%2F58%20FLORENTINO_ESPECIAL.png?alt=media&token=ddc1ea7a-cf43-4a8d-be68-4a85de7c04af"
                                alt="color florentino">
                            <p>50 FLORENTINO</p>
                        </li>
                        <li class="last-item"><img
                                src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FColores%2Fespeciales%2F70%20COBRE%20VIEJO_ESPECIAL.png?alt=media&token=e997b131-b0f4-446e-8d11-bb05d4e87cdd"
                                alt="color cobre viejo">
                            <p>70 COBRE VIEJO</p>
                        </li>
                    </ul>
                </div>

            </article>

            <article class="customization-sections-articles-endings">
                <div class="customization-sections-articles-endings-info">
                    <div class="customization-sections-articles-endings-info-text">
                        <h4>Terminaciones exclusivas</h4>
                        <p>Thol se distingue por ofrecer griferías con colores exclusivos y acabados especiales. Nuestra
                            empresa se enorgullece de proporcionar opciones personalizadas </p>
                    </div>
                    <div class="customization-sections-articles-endings-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Personalizacion%2FFotos%20pantalla%20personalizacion%2Frevestimientos_especiales.jpg?alt=media&token=7c63faef-825a-45be-901c-4cdf57a6c99d"
                                alt="canilla freestanding1">
                        </div>
                    </div>
                </div>
            </article>
        </section>

    </div>



</div>
{% endblock %}

{% block end_scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% endblock %}