{% extends "layout.html" %}

{% block extra_scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div>
    <div>
        <section class="banner-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2FAG-4F-99309%201.png?alt=media&token=dc1a77b5-e11a-4cdd-a70e-618ad94f7717"
                alt="banner-diseños">
        </section>
    </div>

    <div class="customization-sections">

        <section class="customization-sections-intro">
            <div class="customization-sections-intro-title">
                <div class="customization-sections-intro-title-h1">
                    <h1>
                        Potencia tu proyecto <br> con tu propio diseño
                    </h1>
                </div>
                <div class="customization-sections-intro-title-text">
                    <p>
                        Materializamos tu idea. En “Thol” realizamos distintos tipos de acabados y trabajos a medida,
                        para
                        darle
                        el toque especial a tu grifería.
                    </p>
                </div>

            </div>

            <div class="carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2F196447816122020230405.png?alt=media&token=b3985b80-a877-4f62-8cb1-de3ebf2bb089"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2F196447816122020230405.png?alt=media&token=b3985b80-a877-4f62-8cb1-de3ebf2bb089"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2F196447816122020230405.png?alt=media&token=b3985b80-a877-4f62-8cb1-de3ebf2bb089"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="customization-sections-articles">
            <article class="customization-sections-articles-sizes">

                <div class="customization-sections-articles-sizes-title">
                    <h1>Diseño de grifería a medida</h1>
                </div>

                <div class="customization-sections-articles-sizes-info">
                    <div class="customization-sections-articles-sizes-info-img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fdos-trabajadores-siderurgicos-felices-que-preparan-productos-fabricacion-distribucion-comunicacion-instalaciones-industriales-foco-trabajador-adulto-medio%201.png?alt=media&token=8e7008eb-b474-44be-ad68-c2620854189c"
                            alt="imagen referencial a producto">
                    </div>
                    <div class="customization-sections-articles-sizes-info-text">
                        <h4>Dimensiones especiales</h4>
                        <p>La grifería Thol no solo se destaca por su adaptabilidad a medidas específicas, sino que
                            también
                            brindamos
                            soluciones personalizadas a nuestros clientes. </p>
                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-selected">
                <div class="customization-sections-articles-selected-info">
                    <div class="customization-sections-articles-selected-info-text">
                        <h4>Diseños exclusivos</h4>
                        <p>Nuestro compromiso con la excelencia en el diseño garantiza que cada grifería Thol sea una
                            obra maestra exclusiva, combinando funcionalidad y estética para una experiencia única en
                            cada esp acio. </p>
                    </div>
                    <div class="customization-sections-articles-selected-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2FAG-4F-115375-scaled.png?alt=media&token=be53f7e8-806f-454e-a825-411100134bc3"
                                alt="Imagen referencial a griferias en pose">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2FLAGO%20-%20NORDELTA%2002.png?alt=media&token=db05c712-0155-4e59-b4b5-3ec878d5bfcf"
                                alt="magen referencial a griferias en pose">
                        </div>


                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-finished">
                <div class="customization-sections-articles-finished-title">
                    <h4>Nuestros acabados</h4>
                </div>
                <div class="customization-sections-articles-finished-colors">
                    <ul class="customization-sections-articles-finished-colors-list">
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color Negro">
                            <p>48 NEGRO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color Blanco">
                            <p>50 BLANCO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color Cromo">
                            <p>68 CROMO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color Brunet">
                            <p>76 BRUNET</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color grafito">
                            <p>86 GRAFITO</p>
                        </li>
                    </ul>
                </div>

            </article>

            <article class="customization-sections-articles-unique">
                <div class="customization-sections-articles-unique-info">
                    <div class="customization-sections-articles-unique-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2F581059615052023204215-2.png?alt=media&token=efdc3fbb-d4b8-439c-ad7a-2216111a7bbc"
                                alt="color de grifería de ejemplo 1">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2F06072021151229.png?alt=media&token=936c4561-e362-4348-be58-7dee61810076"
                                alt="color de grifería de ejemplo 2">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2F06072021144108%202.png?alt=media&token=d06f86ea-bd74-4752-9b38-6ddba4ab2cda"
                                alt="color de grifería de ejemplo 3">
                        </div>
                    </div>

                    <div class="customization-sections-articles-unique-info-text">
                        <h4>Colores únicos</h4>
                        <p>Thol se distingue por ofrecer griferías con colores exclusivos y acabados especiales. Nuestra
                            empresa se enorgullece de proporcionar opciones personalizadas </p>
                    </div>
                </div>
            </article>

            <article class="customization-sections-articles-specials">
                <div class="customization-sections-articles-specials-titles">
                    <h4>Acabados especiales</h4>
                </div>
                <div class="customization-sections-articles-specials-colors">
                    <ul class="customization-sections-articles-specials-colors-list">
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="Color niquel ">
                            <p>54 NIQUEL MATE</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="color florentino">
                            <p>50 FLORENTINO</p>
                        </li>
                        <li><img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2Fimage%2032.png?alt=media&token=c2b98fd9-5cba-4e2b-b799-6ed0d72c6627"
                                alt="color cobre viejo">
                            <p>70 COBRE VIEJO</p>
                        </li>
                    </ul>
                </div>

            </article>

            <article class="customization-sections-articles-endings">
                <div class="customization-sections-articles-endings-info">
                    <div class="customization-sections-articles-endings-info-text">
                        <h4>Terminaciones exclusivas</h4>
                        <p>Thol se distingue por ofrecer griferías con colores exclusivos y acabados especiales. Nuestra
                            empresa se enorgullece de proporcionar opciones personalizadas </p>
                    </div>
                    <div class="customization-sections-articles-endings-info-imgs">
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2F25_B%20(1).png?alt=media&token=fa7c2847-f66b-484f-8ecd-359897beecc8"
                                alt="canilla freestanding1">
                        </div>
                        <div>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Fpersonalizados%2F22_B.png?alt=media&token=916ba1ae-07f7-478e-8a7a-0db73f60bb9b"
                                alt="canilla freestanding2">
                        </div>
                    </div>
                </div>
            </article>
        </section>

    </div>



</div>
{% endblock %}

{% block end_scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock %}