{% extends "layout.html" %}

{% block extra_scripts %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block content %}
<div>
    <section class="banner-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/tholgriferias2024.appspot.com/o/index%2Ffondo-bano-acogedor-llamadas-zoom.png?alt=media&token=dabde6ac-9081-43ef-8db8-9f67fa461365"
            alt="banner-diseños">
    </section>
    <section class="product-container" id="productContainer">
        <div class="product-container-route" id="productoRoute"> 

        </div>
        <div class="product-container-title" id="productTitle">

        </div>
        <div class="product-container-card" id="productCardContainer">

        </div>

    </section>
    <section class="relationed-product-container" id="relationedProduct">
        <div class="relationed-product-container-title">
            <h3>Otros productos de esta colección</h3>
        </div>

        <div class="relationed-product-container-cards" id="relationedProductContainer">

        </div>

    </secti>


</div>
{% endblock %}

{% block end_scripts %}
<script type="module" src="/static/js/index/cargarProducto.js"></script>
<script type="module">
    import { cargarProducto } from "/static/js/index/cargarProducto.js";
    import { traerProducto, traerProductoxColeccion } from "/static/js/traerProducts.js";
    import { crearRutaProductoVolver } from "/static/js/returnRoutes/volverProductos.js";

    window.addEventListener('DOMContentLoaded', async () => {
        const coleccionId = "{{coleccion.id}}";
        const coleccionNombre = "{{coleccion.nombre}}";
        const productoId = "{{ producto.id | default('')}}";

        try {
            const productoRecuperado = await traerProducto(productoId);
            const productosDeLaColeccion = await traerProductoxColeccion(coleccionId);

            crearRutaProductoVolver(coleccionNombre, productoRecuperado.tipo);
            cargarProducto(coleccionNombre, productosDeLaColeccion, productoRecuperado);

        } catch (error) {
            console.error("Error al parsear la cadena JSON:", error);
        }
    });
</script>
{% endblock %}