{% extends "layout.html" %}

{% block extra_scripts %}

{% endblock %}

{% block content %}
<section class="distributor-list">

    <div class="distributor-list-banner">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Puntos%20de%20Venta%2Fbanner_personalizacion-3.jpg?alt=media&token=71dee36a-5eb9-4818-99c7-427edee1b12d" alt="Banner">
    </div>

    <div class="distributor-list-body">

        <div class="distributor-list-body-title">
            <h1>Encontrá nuestro punto <br> de venta más cercano</h1>
        </div>

        <div class="distributor-list-body-finder">

            <div class="distributor-list-body-finder-maps" id="map-container">
                <!-- mapa -->
            </div>

            <div class="distributor-list-body-finder-partnership-locations" id="locationsContainer">

            </div>
        </div>
    </div>

</section>

<section class="partnership">
    <div class="partnership-text">
        <h1>¿Querés ser parte de nuestros distribuidores?</h1>
        <p>Tenemos mas de 40 años trabajando en el mercado de griferías. Con amplia experiencia podemos asegurar que
            brindamos productos de primera calidad, podes integrarte a nuestros puntos de venta enviandonos un mail
            con este botón.</p>
        <button class="button-primary">Contactanos</button>

    </div>
    <div class="partnership-photo">
        <img src="/static/img/representatives-img/dos-hombres-negocios-celebrando-trato 1.png"
            alt="solicitud-de-socios">
    </div>

</section>
{% endblock %}

{% block end_scripts %}
    <script type="module" src="/static/js/googleMaps/googlemaps.js"></script>
    <script type="module" src="/static/js/googleMaps/puntosDeVenta.js"></script>
    
{% endblock %}