{% extends "layout.html" %}

{% block extra_scripts %}

{% endblock %}

{% block content %}
<section class="distributor-list">

    <div class="distributor-list-banner">
        <img src="/static/img/representatives-img/15052023203909 1.png" alt="Banner">
    </div>

    <div class="distributor-list-body">

        <div class="distributor-list-body-title">
            <h1>Encontrá nuestro punto <br> de venta más cercano</h1>
        </div>

        <div class="distributor-list-body-finder">

            <div class="distributor-list-body-finder-maps" id="map-container">
                <!-- mapa -->
            </div>

            <div class="distributor-list-body-finder-partnership-locations">

                <div class="partnership-locations-regions">
                    <div class="partnership-locations-regions-cityTitle">
                        <h3>Capital Federal</h3>
                    </div>
                    <div class="partnership-locations-regions-companys" id="companysContainer">
                        <!-- <div class="partnership-locations-regions-companys-company">
                            <h3>Herrajes Galo</h3>
                            <a href="http://www.herrajesgalo.com.ar/">Link</a>
                            <p>Av. del Libertador 6545, C1428 CABA</p>
                        </div>
                        <div class="partnership-locations-regions-companys-company">
                            <h3>Herrajes Galo</h3>
                            <a href="http://www.herrajesgalo.com.ar/">Link</a>
                            <p>Av. del Libertador 6545, C1428 CABA</p>
                        </div>
                        <div class="partnership-locations-regions-companys-company">
                            <h3>Herrajes Galo</h3>
                            <a href="http://www.herrajesgalo.com.ar/">Link</a>
                            <p>Av. del Libertador 6545, C1428 CABA</p>
                        </div> -->
                    </div>
                </div>

                <div class="partnership-locations-regions-cityTitle">
                    <h2>Zona Norte</h2>

                </div>

                <div class="partnership-locations-regions-cityTitle">
                    <h2>Zona Oeste</h2>
                </div>

                <div class="partnership-locations-regions-cityTitle">
                    <h2>Interior del Pais</h2>
                </div>

            </div>
        </div>
    </div>

</section>



<section class="partnership">
    <div class="partnership-text">
        <h1>¿Querés ser parte de nuestros distribuidores?</h1>
        <p>Tenemos mas de 40 años trabajando en el mercado de griferías. Con amplia experiencia podemos asegurar que
            brindamos productos de primera calidad, podes integrarte a nuestros puntos de venta enviandonos un mail
            con este botón.</p>
        <button class="button-primary">Contactanos</button>

    </div>
    <div class="partnership-photo">
        <img src="/static/img/representatives-img/dos-hombres-negocios-celebrando-trato 1.png"
            alt="solicitud-de-socios">
    </div>

</section>
{% endblock %}

{% block end_scripts %}
    <script type="module" src="/static/js/googleMaps/googlemaps.js"></script>
    
{% endblock %}