{% extends "layout.html" %}

{% block extra_scripts %}

{% endblock %}

{% block content %}
<section class="distributor-list">

    <div class="distributor-list-banner">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Puntos%20de%20Venta%2Fpuntos%20de%20venta.png?alt=media&token=b05cf67f-7f48-4201-bffe-efa9e940b8dd" alt="Banner">
    </div>

    <div class="distributor-list-body">

        <div class="distributor-list-body-title">
            <h1>Encontrá nuestro punto <br> de venta más cercano</h1>
        </div>

        <div class="distributor-list-body-finder">

            <div class="distributor-list-body-finder-maps" id="map-container">
                <!-- mapa -->
            </div>

            <div class="distributor-list-body-finder-partnership-locations" id="locationsContainer">

            </div>
        </div>
    </div>

</section>

<section class="pointsales">
    <div class="pointsales-text">
        <div class="pointsales-text-title">
            <h1>¿Querés ser parte de nuestros distribuidores?</h1>
        </div>
        <div class="pointsales-text-description">
            <p>Tenemos mas de 40 años trabajando en el mercado de griferías. Con amplia experiencia podemos asegurar que
                brindamos productos de primera calidad. Podés integrarte a nuestros puntos de venta enviándonos un mail.</p>
            <a href="{{ url_for('index.consulta') }}" class="pointsales-text-description-button"><button
                    class="button-primary">Contactanos</button></a>
        </div>
    </div>
    <div class="pointsales-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/thol-web.appspot.com/o/Puntos%20de%20Venta%2Fhombres-mano.jpg?alt=media&token=0b3e6277-88d6-4180-9ddc-43f17e3c850f"
            alt="Ir-a-Distribuidores">
    </div>

</section>
{% endblock %}

{% block end_scripts %}
    <script type="module" src="/static/js/googleMaps/googlemaps.js"></script>
    <script type="module" src="/static/js/googleMaps/puntosDeVenta.js"></script>
    
{% endblock %}