.inicio {
    display: flex;
    width: auto;
    height: 1080px;
    background-image: url("/img/presentacion-1.png");
    background-size: cover;

    &-index {
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: flex-end;
        flex-direction: column;

        &-prueba {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 10vw;
            margin-right: 10vw;
            height: 100%;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            column-gap: 1.5vw;
        }
    }
}

.productos {
    &-index {
        &-titulo {
            color: #12212B;
            font-family: Oxygen;
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-tarjeta {
                &-1 {
                    background-image: url("/img/fotos-menu-1.png");
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    background-size: cover;
                    width: 397px;
                    height: 739px;

                }

                &-2 {
                    background-image: url("/img/fotos-menu-2.png");
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    background-size: cover;
                    width: 397px;
                    height: 739px;
                }

                &-3 {
                    background-image: url("/img/fotos-menu-3.png");
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    background-size: cover;
                    width: 397px;
                    height: 739px;
                }
            }
        }
    }
}